openapi: 3.0.3
info:
  title: Everflow Network API - Custom Scrub Rates
  description: Endpoints for managing custom scrub rates in the Everflow network.
  version: 1.0.0
servers:
  - url: https://api.eflow.team/v1
tags:
  - name: Custom Scrub Rates
paths:
  /networks/custom/scrubratetable:
    post:
      summary: Search Custom Scrub Rates
      description: >
        Search and filter custom scrub rate settings. Returns a paginated
        list of scrub rate configurations matching the specified criteria.
        Scrub rates define the percentage of conversions to reject for
        specific affiliate/offer combinations.
      tags:
        - Custom Scrub Rates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              filters:
                network_offer_id:
                  values: [100]
                  comparison: "is"
              paging:
                page: 1
                page_size: 50
              sort:
                field: "time_created"
                direction: "desc"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  custom_scrub_rate_settings:
                    type: array
                    items:
                      $ref: "#/components/schemas/CustomScrubRate"
                  paging:
                    $ref: "#/components/schemas/Paging"
      security:
        - API Key: []
  /networks/custom/scrubrate:
    post:
      summary: Create Custom Scrub Rate
      description: >
        Create a new custom scrub rate setting. Scrub rates define the
        percentage of conversions to automatically reject for a specific
        affiliate and offer combination.
      tags:
        - Custom Scrub Rates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomScrubRateInput"
            example:
              network_offer_id: 100
              network_affiliate_id: 200
              custom_setting_status: "active"
              scrub_rate: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomScrubRate"
      security:
        - API Key: []
  /networks/custom/scrubrate/{settingId}:
    get:
      summary: Get Custom Scrub Rate by ID
      description: >
        Retrieve a single custom scrub rate setting by its ID.
      tags:
        - Custom Scrub Rates
      parameters:
        - in: path
          name: settingId
          required: true
          schema:
            type: integer
          description: The custom scrub rate setting identifier.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomScrubRate"
      security:
        - API Key: []
    put:
      summary: Update Custom Scrub Rate
      description: >
        Update an existing custom scrub rate setting. All fields must
        be provided in the request body.
      tags:
        - Custom Scrub Rates
      parameters:
        - in: path
          name: settingId
          required: true
          schema:
            type: integer
          description: The custom scrub rate setting identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomScrubRateInput"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomScrubRate"
      security:
        - API Key: []
    delete:
      summary: Delete Custom Scrub Rate
      description: >
        Delete a custom scrub rate setting by its ID. This will revert
        the affiliate/offer combination to using the default scrub rate.
      tags:
        - Custom Scrub Rates
      parameters:
        - in: path
          name: settingId
          required: true
          schema:
            type: integer
          description: The custom scrub rate setting identifier.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
      security:
        - API Key: []
components:
  schemas:
    CustomScrubRate:
      type: object
      properties:
        network_custom_scrub_rate_setting_id:
          type: integer
          description: Unique custom scrub rate setting ID.
        network_id:
          type: integer
          description: Network ID.
        network_offer_id:
          type: integer
          description: Associated offer ID.
        network_affiliate_id:
          type: integer
          description: Associated affiliate ID.
        custom_setting_status:
          type: string
          enum:
            - active
            - inactive
          description: Setting status.
        scrub_rate:
          type: number
          format: double
          description: Scrub rate percentage (0-100).
        time_created:
          type: integer
          description: Unix timestamp of creation.
        time_saved:
          type: integer
          description: Unix timestamp of last update.
        relationship:
          type: object
          properties:
            offer:
              type: object
              description: Associated offer details.
            affiliate:
              type: object
              description: Associated affiliate details.
    CustomScrubRateInput:
      type: object
      required:
        - network_offer_id
        - network_affiliate_id
        - custom_setting_status
        - scrub_rate
      properties:
        network_offer_id:
          type: integer
          description: Associated offer ID.
        network_affiliate_id:
          type: integer
          description: Associated affiliate ID.
        custom_setting_status:
          type: string
          enum:
            - active
            - inactive
          description: Setting status.
        scrub_rate:
          type: number
          format: double
          description: Scrub rate percentage (0-100).
    SearchRequest:
      type: object
      properties:
        filters:
          type: object
          description: Filter criteria for searching scrub rates.
        paging:
          type: object
          properties:
            page:
              type: integer
              default: 1
            page_size:
              type: integer
              default: 50
        sort:
          type: object
          properties:
            field:
              type: string
            direction:
              type: string
              enum:
                - asc
                - desc
    Paging:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total_count:
          type: integer
  securitySchemes:
    API Key:
      description: The Everflow API key generated from the Control Center > Security.
      in: header
      name: X-Eflow-Api-Key
      type: apiKey
