openapi: 3.0.3
info:
  title: Everflow Marketplace API - API Keys
  description: >
    Marketplace API key endpoints for the Everflow partner marketing platform.
    Retrieve affiliate API keys for all marketplace connections.
  version: 1.0.0
servers:
  - description: Production Server
    url: https://api.eflow.team/v1
tags:
  - name: Marketplace API Keys
    description: Endpoints for retrieving marketplace API keys.
paths:
  /partners/connections/apikeys/list:
    get:
      summary: List API Keys
      description: >
        Retrieve the affiliate API keys for all marketplace connections. Each key
        is associated with a specific brand/network and can be used with the
        Affiliate API for connection-specific operations.
      tags:
        - Marketplace API Keys
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    description: Array of API key objects, one per marketplace connection.
                    items:
                      type: object
                      properties:
                        advertiser_id:
                          type: integer
                          description: The advertiser/network ID associated with this key.
                        advertiser_name:
                          type: string
                          description: The advertiser/network name associated with this key.
                        api_key:
                          type: string
                          description: The affiliate API key for this marketplace connection.
      security:
        - API Key: []
components:
  securitySchemes:
    API Key:
      description: >
        The marketplace partner's API key. Uses the X-Eflow-Api-Key header.
        The key belongs to the marketplace partner user.
      in: header
      name: X-Eflow-Api-Key
      type: apiKey
