openapi: 3.0.3
info:
  title: Everflow Network API - Billing (Advertiser Invoices)
  description: Endpoints for managing advertiser invoices.
  version: 1.0.0
servers:
  - url: https://api.eflow.team/v1
tags:
  - name: Advertiser Billing
paths:
  /networks/billings/advertisers/invoicestable:
    post:
      summary: List Advertiser Invoices
      description: >
        Retrieve a paginated list of advertiser invoices. Supports search filters,
        sorting, and pagination to help you find and browse invoices programmatically.
        Filter by advertiser IDs, date ranges, balance ranges, and status.
      tags:
        - Advertiser Billing
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number (1-based).
        - in: query
          name: page_size
          schema:
            type: integer
            default: 50
          description: Number of results per page.
      requestBody:
        content:
          application/json:
            example:
              search_terms: []
              filters:
                status: "unpaid"
            schema:
              type: object
              properties:
                search_terms:
                  type: array
                  items:
                    type: object
                filters:
                  type: object
                  properties:
                    advertiser_ids:
                      type: array
                      items:
                        type: integer
                      description: Filter by advertiser IDs.
                    invoice_ids:
                      type: array
                      items:
                        type: integer
                      description: Filter by specific invoice IDs.
                    date_from:
                      type: string
                      description: Start date filter (YYYY-MM-DD).
                    date_to:
                      type: string
                      description: End date filter (YYYY-MM-DD).
                    balance_from:
                      type: number
                      format: double
                      description: Minimum balance filter.
                    balance_to:
                      type: number
                      format: double
                      description: Maximum balance filter.
                    status:
                      type: string
                      enum:
                        - paid
                        - unpaid
                        - deleted
                      description: Filter by invoice status.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdvertiserInvoice"
                  paging:
                    type: object
                    properties:
                      page:
                        type: integer
                      page_size:
                        type: integer
                      total_count:
                        type: integer
      security:
        - API Key: []
  /networks/billings/advertisers/invoices/{invoiceId}:
    get:
      summary: Get Advertiser Invoice
      description: >
        Retrieve a single advertiser invoice by its ID. Use the `relationship`
        query parameter to include line items and other related data.
      tags:
        - Advertiser Billing
      parameters:
        - in: path
          name: invoiceId
          required: true
          schema:
            type: integer
          description: The unique invoice ID.
        - in: query
          name: relationship
          schema:
            type: string
          description: Include related data such as line items.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserInvoice"
        "404":
          description: Invoice not found.
      security:
        - API Key: []
  /networks/billings/advertisers/invoices:
    post:
      summary: Create Advertiser Invoice
      description: >
        Create a new advertiser invoice. Specify the advertiser, date range,
        and any notes or payment terms for the invoice.
      tags:
        - Advertiser Billing
      requestBody:
        required: true
        content:
          application/json:
            example:
              network_advertiser_id: 1
              status: "unpaid"
              start_time: "2024-01-01"
              end_time: "2024-01-31"
              public_notes: "January revenue"
            schema:
              type: object
              required:
                - network_advertiser_id
                - status
                - start_time
                - end_time
              properties:
                network_advertiser_id:
                  type: integer
                  description: The advertiser ID to create the invoice for.
                status:
                  type: string
                  enum:
                    - paid
                    - unpaid
                  description: Initial invoice status.
                start_time:
                  type: string
                  description: Invoice period start date (YYYY-MM-DD).
                end_time:
                  type: string
                  description: Invoice period end date (YYYY-MM-DD).
                public_notes:
                  type: string
                  description: Notes visible to the advertiser.
                internal_notes:
                  type: string
                  description: Internal notes visible only to network users.
                is_hidden_advertiser:
                  type: boolean
                  description: Whether the invoice is hidden from the advertiser.
                payment_terms:
                  type: integer
                  description: Payment terms in days.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserInvoice"
      security:
        - API Key: []
    patch:
      summary: Batch Update Advertiser Invoices
      description: >
        Update the status for multiple advertiser invoices at once.
        Useful for bulk marking invoices as paid or deleted.
      tags:
        - Advertiser Billing
      requestBody:
        required: true
        content:
          application/json:
            example:
              invoice_ids: [1, 2, 3]
              status: "paid"
            schema:
              type: object
              properties:
                invoice_ids:
                  type: array
                  items:
                    type: integer
                  description: Array of invoice IDs to update.
                status:
                  type: string
                  enum:
                    - paid
                    - unpaid
                    - deleted
                  description: The new status to apply to all specified invoices.
      responses:
        "200":
          description: Invoices updated successfully.
      security:
        - API Key: []
components:
  schemas:
    AdvertiserInvoice:
      type: object
      properties:
        network_advertiser_invoice_id:
          type: integer
          description: Unique invoice ID.
        network_id:
          type: integer
          description: Network ID.
        network_advertiser_id:
          type: integer
          description: Advertiser ID this invoice belongs to.
        status:
          type: string
          enum:
            - paid
            - unpaid
            - deleted
          description: Invoice status.
        start_time:
          type: string
          description: Invoice period start date.
        end_time:
          type: string
          description: Invoice period end date.
        balance:
          type: number
          format: double
          description: Outstanding balance.
        billed:
          type: number
          format: double
          description: Total billed amount.
        paid:
          type: number
          format: double
          description: Total paid amount.
        public_notes:
          type: string
          description: Notes visible to the advertiser.
        internal_notes:
          type: string
          description: Internal notes visible only to network users.
        is_hidden_advertiser:
          type: boolean
          description: Whether the invoice is hidden from the advertiser.
        payment_terms:
          type: integer
          description: Payment terms in days.
        time_created:
          type: integer
          description: Unix timestamp of creation.
        time_saved:
          type: integer
          description: Unix timestamp of last update.
        relationship:
          type: object
          description: Related data such as line items (when requested).
  securitySchemes:
    API Key:
      description: The Everflow API key generated from the Control Center > Security.
      in: header
      name: X-Eflow-Api-Key
      type: apiKey
