openapi: 3.0.3
info:
  title: Everflow Network API - Reporting (Additional Endpoints)
  description: >
    Additional reporting endpoints for the Everflow partner marketing platform.
    Includes summary, streaming, variance, referrals, post-conversions,
    on-hold conversions, offer caps, currency rates, adjustments, refunds,
    conversion management, pixel logs, and more.
  version: 1.0.0
servers:
  - description: Production Server
    url: https://api.eflow.team/v1
tags:
  - name: Reporting
    description: Additional reporting and conversion management endpoints.
paths:
  /networks/reporting/entity/summary:
    post:
      summary: Get Reporting Summary
      description: >
        Returns aggregated summary metrics without row-level detail. Provides
        a single summary object with totals for impressions, clicks, conversions,
        revenue, payout, profit, margin, and other key performance indicators.
        Uses the same request format as the entity/table endpoint.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            example:
              from: "2025-01-01"
              to: "2025-01-31"
              timezone_id: 67
              currency_id: "USD"
              columns:
                - offer
              query:
                filters: {}
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
                - currency_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                currency_id:
                  type: string
                  description: Currency code for reporting metrics.
                columns:
                  type: array
                  items:
                    type: string
                  description: Columns to group by.
                query:
                  type: object
                  description: Optional filters to narrow the report scope.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  imp:
                    type: integer
                    description: Total impressions.
                  total_click:
                    type: integer
                    description: Total clicks.
                  unique_click:
                    type: integer
                    description: Unique clicks.
                  invalid_click:
                    type: integer
                    description: Invalid clicks.
                  cv:
                    type: integer
                    description: Total conversions.
                  event:
                    type: integer
                    description: Total events.
                  revenue:
                    type: number
                    description: Total revenue.
                  payout:
                    type: number
                    description: Total payout.
                  profit:
                    type: number
                    description: Total profit.
                  margin:
                    type: number
                    description: Profit margin percentage.
                  cpc:
                    type: number
                    description: Cost per click.
                  cpa:
                    type: number
                    description: Cost per action.
                  epc:
                    type: number
                    description: Earnings per click.
                  rpc:
                    type: number
                    description: Revenue per click.
                  rpa:
                    type: number
                    description: Revenue per action.
                  cvr:
                    type: number
                    description: Conversion rate.
      security:
        - API Key: []

  /networks/reporting/entity/stream:
    post:
      summary: Stream Reporting Data
      description: >
        Returns reporting entity data as a stream for large datasets. Uses the
        same request format as the entity/table endpoint but returns data in a
        streaming response, which is more suitable for very large result sets.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
                - currency_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                currency_id:
                  type: string
                  description: Currency code for reporting metrics.
                columns:
                  type: array
                  items:
                    type: string
                  description: Columns to group by.
                query:
                  type: object
                  description: Optional filters to narrow the report scope.
      responses:
        "200":
          description: OK — streaming response with reporting rows.
          content:
            application/json:
              schema:
                type: object
                description: Streaming response containing reporting data rows.
      security:
        - API Key: []

  /networks/reporting/variance:
    post:
      summary: Get Variance Report
      description: >
        Compare reporting data between two time periods or between Everflow and
        advertiser data. Returns a table with variance percentages alongside
        current and comparison period metrics for trend analysis.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            example:
              from: "2025-02-01"
              to: "2025-02-28"
              compare_from: "2025-01-01"
              compare_to: "2025-01-31"
              timezone_id: 67
              currency_id: "USD"
              columns:
                - offer
              query:
                filters: {}
            schema:
              type: object
              required:
                - from
                - to
                - compare_from
                - compare_to
                - timezone_id
                - currency_id
              properties:
                from:
                  type: string
                  description: "Current period start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "Current period end date (format: YYYY-MM-DD)."
                compare_from:
                  type: string
                  description: "Comparison period start date (format: YYYY-MM-DD)."
                compare_to:
                  type: string
                  description: "Comparison period end date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                currency_id:
                  type: string
                  description: Currency code for reporting metrics.
                columns:
                  type: array
                  items:
                    type: string
                  description: Columns to group by.
                query:
                  type: object
                  description: Optional filters to narrow the report scope.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  table:
                    type: array
                    items:
                      type: object
                      properties:
                        variance_percentage:
                          type: number
                          description: Percentage change between periods.
                        current:
                          type: object
                          description: Metrics for the current period.
                        comparison:
                          type: object
                          description: Metrics for the comparison period.
      security:
        - API Key: []

  /networks/reporting/referrals:
    post:
      summary: Get Referral Report
      description: >
        Returns affiliate referral tracking data. Shows which affiliates
        referred other affiliates, along with associated revenue and conversion
        metrics for the referral relationships.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
                - currency_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                currency_id:
                  type: string
                  description: Currency code for reporting metrics.
                query:
                  type: object
                  description: Optional filters including referring_affiliate_ids.
                  properties:
                    filters:
                      type: object
                      properties:
                        referring_affiliate_ids:
                          type: array
                          items:
                            type: integer
                          description: Filter by referring affiliate IDs.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  referrals:
                    type: array
                    items:
                      type: object
                      properties:
                        referring_affiliate:
                          type: object
                          description: The affiliate who made the referral.
                        referred_affiliate:
                          type: object
                          description: The affiliate who was referred.
                        revenue:
                          type: number
                          description: Revenue from the referral.
                        conversions:
                          type: integer
                          description: Number of conversions from the referral.
      security:
        - API Key: []

  /networks/reporting/postconversions:
    post:
      summary: Search Post-Conversion Events
      description: >
        Returns post-conversion event data. Post-conversion events are actions
        that occur after the initial conversion, such as upsells, renewals, or
        custom events. Filter by date range and event type.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                show_events:
                  type: boolean
                  description: Whether to include event details in the response.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        event_id:
                          type: integer
                          description: Unique event ID.
                        event_name:
                          type: string
                          description: Name of the post-conversion event.
                        conversion_id:
                          type: integer
                          description: Associated conversion ID.
                        transaction_id:
                          type: string
                          description: Associated transaction ID.
                        revenue:
                          type: number
                          description: Event revenue.
                        payout:
                          type: number
                          description: Event payout.
                        timestamp:
                          type: integer
                          description: Unix timestamp of the event.
                        relationship:
                          type: object
                          description: Related entities (offer, affiliate, advertiser).
      security:
        - API Key: []

  /networks/reporting/onholdconversions:
    post:
      summary: Search On-Hold Conversions
      description: >
        Returns conversions currently in on-hold status. On-hold conversions
        are pending review before being approved or rejected. Use filters to
        narrow the results by date range, offer, or affiliate.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversions:
                    type: array
                    items:
                      type: object
                      description: Conversion record with on-hold details.
      security:
        - API Key: []

  /networks/reporting/onhold/conversions/stream:
    post:
      summary: Stream On-Hold Conversions
      description: >
        Streaming variant of the on-hold conversions search. Returns on-hold
        conversion data in a streaming response, suitable for large result sets.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK — streaming response with on-hold conversion data.
          content:
            application/json:
              schema:
                type: object
                description: Streaming response containing on-hold conversion rows.
      security:
        - API Key: []

  /networks/reporting/onhold/conversions:
    patch:
      summary: Update On-Hold Conversion Status
      description: >
        Approve or reject on-hold conversions. Provide an array of conversion
        IDs and the target status to update them in bulk.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversion_ids
                - status
              properties:
                conversion_ids:
                  type: array
                  items:
                    type: integer
                  description: Array of conversion IDs to update.
                status:
                  type: string
                  enum:
                    - approved
                    - rejected
                  description: Target status for the conversions.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    description: Whether the update was successful.
      security:
        - API Key: []

  /networks/reporting/offercaps:
    post:
      summary: Get Offer Caps Report
      description: >
        Returns current cap usage for offers. Shows daily, weekly, monthly, and
        global cap consumption for conversions, clicks, revenue, and payout
        across the specified offers.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - offer_ids
                - timezone_id
              properties:
                offer_ids:
                  type: array
                  items:
                    type: integer
                  description: Array of offer IDs to check caps for.
                timezone_id:
                  type: integer
                  description: Timezone ID for cap calculations.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  caps:
                    type: array
                    items:
                      type: object
                      properties:
                        network_offer_id:
                          type: integer
                          description: Offer ID.
                        daily:
                          type: object
                          description: Daily cap usage.
                        weekly:
                          type: object
                          description: Weekly cap usage.
                        monthly:
                          type: object
                          description: Monthly cap usage.
                        global:
                          type: object
                          description: Global cap usage.
      security:
        - API Key: []

  /networks/reporting/offercaps/summary:
    post:
      summary: Get Offer Caps Summary
      description: >
        Returns a summary view of offer cap usage. Provides an aggregated
        overview of cap consumption across multiple offers.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - offer_ids
                - timezone_id
              properties:
                offer_ids:
                  type: array
                  items:
                    type: integer
                  description: Array of offer IDs to summarize caps for.
                timezone_id:
                  type: integer
                  description: Timezone ID for cap calculations.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Summary of cap usage across the specified offers.
      security:
        - API Key: []

  /networks/reporting/offergroupcaps:
    post:
      summary: Get Offer Group Caps Report
      description: >
        Returns cap usage per offer group. Shows how much of each cap
        (daily, weekly, monthly, global) has been consumed for the specified
        offer groups.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - offer_group_ids
                - timezone_id
              properties:
                offer_group_ids:
                  type: array
                  items:
                    type: integer
                  description: Array of offer group IDs to check caps for.
                timezone_id:
                  type: integer
                  description: Timezone ID for cap calculations.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  caps:
                    type: array
                    items:
                      type: object
                      description: Cap usage record for an offer group.
      security:
        - API Key: []

  /networks/reporting/custom/caps:
    post:
      summary: Get Custom Setting Caps Report
      description: >
        Returns cap usage for custom payout/cap settings. Custom settings allow
        networks to define per-affiliate or per-offer overrides, and this
        endpoint shows current consumption against those custom caps.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                timezone_id:
                  type: integer
                  description: Timezone ID for cap calculations.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Custom cap usage data.
      security:
        - API Key: []

  /networks/reporting/currencyrates:
    get:
      summary: Get Currency Rates
      description: >
        Returns current exchange rates used by the Everflow platform for
        currency conversions in reporting. Rates are relative to USD.
      tags:
        - Reporting
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rates:
                    type: object
                    description: Map of currency codes to their exchange rates.
      security:
        - API Key: []

  /networks/reporting/adjustments:
    get:
      summary: Search Reporting Adjustments
      description: >
        Returns a list of reporting adjustments. Adjustments are manual
        corrections applied to reporting data, such as revenue or conversion
        count modifications.
      tags:
        - Reporting
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  adjustments:
                    type: array
                    items:
                      type: object
                      description: Adjustment record.
      security:
        - API Key: []
    post:
      summary: Create Reporting Adjustment
      description: >
        Create a new reporting adjustment. Adjustments allow you to manually
        correct reporting metrics such as conversions, revenue, or payout
        for a specific date range, offer, and affiliate.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                network_offer_id:
                  type: integer
                  description: The offer ID for the adjustment.
                network_affiliate_id:
                  type: integer
                  description: The affiliate ID for the adjustment.
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID.
                conversions:
                  type: integer
                  description: Conversion count adjustment.
                revenue:
                  type: number
                  description: Revenue adjustment amount.
                payout:
                  type: number
                  description: Payout adjustment amount.
                memo:
                  type: string
                  description: Internal notes about the adjustment.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The created adjustment record.
      security:
        - API Key: []

  /networks/reporting/adjustmentstable:
    post:
      summary: List Adjustments
      description: >
        Retrieve a paginated list of reporting adjustments. Supports search
        filters, sorting, and pagination to help you find and browse
        adjustments programmatically.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                search_terms:
                  type: array
                  items:
                    type: object
                  description: Text search filters.
                filters:
                  type: object
                  description: Structured filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  adjustments:
                    type: array
                    items:
                      type: object
                      description: Adjustment record.
                  paging:
                    type: object
                    properties:
                      page:
                        type: integer
                      page_size:
                        type: integer
                      total_count:
                        type: integer
      security:
        - API Key: []

  /networks/reporting/refunds:
    post:
      summary: Search Refunds
      description: >
        Search and filter refund records. Returns refunds within the specified
        date range, with optional filters to narrow the results by offer,
        affiliate, or other criteria.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  refunds:
                    type: array
                    items:
                      type: object
                      description: Refund record.
      security:
        - API Key: []

  /networks/reporting/conversions/byemail:
    post:
      summary: Search Conversions by Email
      description: >
        Search for conversions associated with a specific email address.
        Returns all conversions matching the given email within the specified
        date range.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - from
                - to
                - timezone_id
              properties:
                email:
                  type: string
                  description: Email address to search for.
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversions:
                    type: array
                    items:
                      type: object
                      description: Conversion record.
      security:
        - API Key: []

  /networks/reporting/conversions/bytransactionid:
    patch:
      summary: Update Conversions by Transaction ID
      description: >
        Update the status of conversions matching a specific transaction ID.
        Use this to approve or reject all conversions tied to a particular
        click transaction.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction_id
                - status
              properties:
                transaction_id:
                  type: string
                  description: The transaction ID to match conversions against.
                status:
                  type: string
                  enum:
                    - approved
                    - rejected
                  description: Target status for the conversions.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    description: Whether the update was successful.
      security:
        - API Key: []

  /networks/reporting/conversions/saleamount:
    patch:
      summary: Update Conversion Sale Amount
      description: >
        Modify the sale amount on an existing conversion. Use this to correct
        revenue figures after the initial conversion has been recorded.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversion_id
                - sale_amount
              properties:
                conversion_id:
                  type: integer
                  description: The conversion ID to update.
                sale_amount:
                  type: number
                  description: The new sale amount.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    description: Whether the update was successful.
      security:
        - API Key: []

  /networks/reporting/conversions:
    post:
      summary: Create Conversion
      description: >
        Manually fire a conversion. Use this to create conversions that
        were not captured through normal tracking, such as offline conversions
        or manual attribution adjustments.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - network_offer_id
                - network_affiliate_id
              properties:
                network_offer_id:
                  type: integer
                  description: The offer ID for the conversion.
                network_affiliate_id:
                  type: integer
                  description: The affiliate ID for the conversion.
                amount:
                  type: number
                  description: Sale amount for the conversion.
                transaction_id:
                  type: string
                  description: External transaction ID.
                adv1:
                  type: string
                  description: Advertiser sub-parameter 1.
                adv2:
                  type: string
                  description: Advertiser sub-parameter 2.
                adv3:
                  type: string
                  description: Advertiser sub-parameter 3.
                adv4:
                  type: string
                  description: Advertiser sub-parameter 4.
                adv5:
                  type: string
                  description: Advertiser sub-parameter 5.
                sub1:
                  type: string
                  description: Sub-parameter 1.
                sub2:
                  type: string
                  description: Sub-parameter 2.
                sub3:
                  type: string
                  description: Sub-parameter 3.
                sub4:
                  type: string
                  description: Sub-parameter 4.
                sub5:
                  type: string
                  description: Sub-parameter 5.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The created conversion record.
      security:
        - API Key: []

  /networks/reporting/conversions/bytransactionids:
    post:
      summary: Create Conversions by Transaction IDs
      description: >
        Create conversions in bulk by providing an array of transaction IDs.
        Each transaction ID will generate a corresponding conversion record.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction_ids
              properties:
                transaction_ids:
                  type: array
                  items:
                    type: string
                  description: Array of transaction IDs to create conversions for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Result of the bulk conversion creation.
      security:
        - API Key: []

  /networks/reporting/upload/conversions:
    post:
      summary: Upload Conversions CSV
      description: >
        Import conversions via CSV file. Upload a CSV file containing conversion
        data to create multiple conversions at once. The file must be uploaded
        first to obtain a temporary URL.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: object
                  description: File reference for the CSV upload.
                  properties:
                    temp_url:
                      type: string
                      description: Temporary URL of the uploaded file.
                    original_file_name:
                      type: string
                      description: Original name of the CSV file.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Upload result with processing status.
      security:
        - API Key: []

  /networks/reporting/conversionuploads/table:
    post:
      summary: List Conversion Uploads
      description: >
        Retrieve a paginated list of conversion upload records. Supports search
        filters, sorting, and pagination to help you find and browse previously
        uploaded conversion files and their processing status programmatically.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search_terms:
                  type: array
                  items:
                    type: object
                  description: Text search filters.
                filters:
                  type: object
                  description: Structured filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploads:
                    type: array
                    items:
                      type: object
                      description: Conversion upload record.
                  paging:
                    type: object
                    properties:
                      page:
                        type: integer
                      page_size:
                        type: integer
                      total_count:
                        type: integer
      security:
        - API Key: []

  /networks/reporting/conversionuploads/{uploadId}:
    get:
      summary: Get Conversion Upload by ID
      description: >
        Retrieve a single conversion upload record by its ID. Returns details
        about the upload including its processing status, row counts, and
        any errors encountered.
      tags:
        - Reporting
      parameters:
        - in: path
          name: uploadId
          required: true
          schema:
            type: integer
          description: The conversion upload ID.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Conversion upload record with processing details.
      security:
        - API Key: []

  /networks/reporting/advertiser/pixels/log:
    post:
      summary: Get Advertiser Pixel Log
      description: >
        Returns advertiser pixel firing log data. Shows when advertiser
        tracking pixels were fired, their status, and any associated errors
        for debugging pixel integration issues.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: object
                      description: Pixel log entry.
      security:
        - API Key: []

  /networks/reporting/pixels/log:
    post:
      summary: Get Partner Pixel Log
      description: >
        Returns partner (affiliate) pixel firing log data. Shows when partner
        postback pixels were fired, their HTTP response status, and any errors
        for debugging postback integration issues.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: object
                      description: Pixel log entry.
      security:
        - API Key: []

  /networks/reporting/transactions/{transactionId}/flowchart:
    get:
      summary: Get Transaction Flowchart
      description: >
        Returns the full event chain for a transaction. Shows the complete
        sequence of events from the initial click through conversion, post-
        conversion events, and postback firings. Useful for debugging
        attribution and tracking flows.
      tags:
        - Reporting
      parameters:
        - in: path
          name: transactionId
          required: true
          schema:
            type: string
          description: The transaction ID to retrieve the flowchart for.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: >
                  Transaction flowchart showing the full event chain
                  (click, conversion, events, postbacks).
      security:
        - API Key: []

  /networks/reporting/events/pertransaction:
    post:
      summary: Get Events Per Transaction
      description: >
        Returns events grouped by transaction. Shows all post-conversion events
        and their details for each transaction in the specified time range.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Events grouped by transaction.
      security:
        - API Key: []

  /networks/reporting/mtti:
    post:
      summary: Get MTTI Report
      description: >
        Returns the Mean Time to Install (MTTI) report. Measures the average
        time between a click and a conversion (install) for mobile app
        campaigns. Useful for detecting fraud patterns or optimizing
        campaign performance.
      tags:
        - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - timezone_id
              properties:
                from:
                  type: string
                  description: "Start date (format: YYYY-MM-DD)."
                to:
                  type: string
                  description: "End date (format: YYYY-MM-DD)."
                timezone_id:
                  type: integer
                  description: Timezone ID for the report.
                currency_id:
                  type: string
                  description: Currency code for reporting metrics.
                query:
                  type: object
                  description: Optional filters to narrow results.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: MTTI report data with average time-to-install metrics.
      security:
        - API Key: []

components:
  securitySchemes:
    API Key:
      description: The Everflow API key generated from the Control Center > Security.
      in: header
      name: X-Eflow-Api-Key
      type: apiKey
