openapi: 3.0.3
info:
  title: Everflow Network API - Reporting
  description: >
    Reporting endpoints for the Everflow partner marketing platform. Extract clicks,
    conversions, and aggregated reporting data.
  version: 1.0.0
servers:
  - description: Production Server
    url: https://api.eflow.team/v1
tags:
  - name: Reporting
    description: Endpoints for extracting clicks, conversions, and aggregated reporting data.
paths:
  /networks/reporting/clicks/{transactionId}:
    get:
      summary: Get Click by Transaction ID
      description: Fetch a single click by its unique Everflow transaction ID. Returns the full click record including device info, geo data, and tracking parameters.
      tags:
        - Reporting
      parameters:
        - in: path
          name: transactionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  android_id:
                    type: string
                  android_id_md5:
                    type: string
                  android_id_sha1:
                    type: string
                  category_id:
                    type: integer
                  coupon_code:
                    type: string
                  creative_id:
                    type: integer
                  currency_id:
                    type: string
                  custom_landing_page_id:
                    type: integer
                  error_code:
                    type: integer
                  error_filter_id:
                    type: string
                  error_message:
                    type: string
                  google_ad_id:
                    type: string
                  google_ad_id_md5:
                    type: string
                  google_ad_id_sha1:
                    type: string
                  has_conversion:
                    type: boolean
                  idfa:
                    type: string
                  idfa_md5:
                    type: string
                  idfa_sha1:
                    type: string
                  is_async:
                    type: boolean
                  is_pass_through:
                    type: boolean
                  is_sdk_click:
                    type: boolean
                  is_test_mode:
                    type: boolean
                  is_unique:
                    type: integer
                  is_view_through:
                    type: boolean
                  payout:
                    type: number
                  payout_type:
                    type: string
                  previous_network_offer_id:
                    type: integer
                  project_id:
                    type: string
                  redirect_method:
                    type: string
                  referer:
                    type: string
                  relationship:
                    properties:
                      account_manager:
                        properties:
                          account_status:
                            enum:
                              - active
                              - inactive
                              - suspended
                              - pending
                            type: string
                          first_name:
                            type: string
                          full_name:
                            type: string
                          last_name:
                            type: string
                          network_employee_id:
                            type: integer
                          network_id:
                            type: integer
                        type: object
                      advertiser:
                        properties:
                          account_status:
                            enum:
                              - active
                              - inactive
                              - pending
                              - suspended
                            type: string
                          name:
                            type: string
                          network_advertiser_id:
                            type: integer
                          network_id:
                            type: integer
                          relationship:
                            properties:
                              whitelist_domains:
                                properties:
                                  total:
                                    type: integer
                                  whitelist_domains:
                                    properties:
                                      domain:
                                        type: string
                                      network_advertiser_id:
                                        type: integer
                                      network_id:
                                        type: integer
                                      time_created:
                                        type: integer
                                      time_saved:
                                        type: integer
                                    type: object
                                type: object
                              whitelist_ips:
                                properties:
                                  total:
                                    type: integer
                                  whitelist_ips:
                                    properties:
                                      ip:
                                        type: string
                                      network_advertiser_id:
                                        type: integer
                                      network_id:
                                        type: integer
                                      time_created:
                                        type: integer
                                      time_saved:
                                        type: integer
                                    type: object
                                type: object
                            type: object
                        type: object
                      affiliate:
                        properties:
                          account_status:
                            enum:
                              - active
                              - inactive
                              - pending
                              - suspended
                            type: string
                          name:
                            type: string
                          network_affiliate_id:
                            type: integer
                          network_id:
                            type: integer
                          network_traffic_source_id:
                            type: integer
                          relationship:
                            properties:
                              hidden_offers:
                                properties:
                                  entries:
                                    properties:
                                      currency_id:
                                        type: string
                                      name:
                                        type: string
                                      network_advertiser_id:
                                        type: integer
                                      network_id:
                                        type: integer
                                      network_offer_group_id:
                                        type: integer
                                      network_offer_id:
                                        type: integer
                                      network_tracking_domain_id:
                                        type: integer
                                      offer_status:
                                        enum:
                                          - active
                                          - paused
                                          - pending
                                          - deleted
                                        type: string
                                      relationship:
                                        properties:
                                          default_payout_revenue:
                                            properties:
                                              entry_name:
                                                type: string
                                              global_advertiser_event_id:
                                                type: integer
                                              is_allow_duplicate_conversion:
                                                type: boolean
                                              is_default:
                                                type: boolean
                                              is_email_attribution_default_event:
                                                type: boolean
                                              is_enforce_caps:
                                                type: boolean
                                              is_must_approve_conversion:
                                                type: boolean
                                              is_postback_disabled:
                                                type: boolean
                                              is_private:
                                                type: boolean
                                              network_id:
                                                type: integer
                                              network_offer_id:
                                                type: integer
                                              network_offer_payout_revenue_id:
                                                type: integer
                                              payout_amount:
                                                type: number
                                              payout_percentage:
                                                type: number
                                              payout_type:
                                                enum:
                                                  - blank
                                                  - cpc
                                                  - cpa
                                                  - cpm
                                                  - cps
                                                  - cpa_cps
                                                  - prv
                                                  - null_value
                                                  - cpa_sku
                                                  - cps_sku
                                                  - cpa_cps_sku
                                                  - prv_sku
                                                type: string
                                              relationship:
                                                properties:
                                                  remote_offer_resource:
                                                    properties:
                                                      json_config:
                                                        type: string
                                                      json_data:
                                                        type: string
                                                      last_value_md5:
                                                        type: string
                                                      network_id:
                                                        type: integer
                                                      network_offer_id:
                                                        type: integer
                                                      remote_resource_id:
                                                        type: string
                                                      resource_id:
                                                        type: integer
                                                      resource_type:
                                                        type: string
                                                      time_created:
                                                        type: integer
                                                      time_saved:
                                                        type: integer
                                                    type: object
                                                type: object
                                              revenue_amount:
                                                type: number
                                              revenue_percentage:
                                                type: number
                                              revenue_type:
                                                enum:
                                                  - blank
                                                  - rpc
                                                  - rpa
                                                  - rpm
                                                  - rps
                                                  - rpa_rps
                                                  - rpa_sku
                                                  - rps_sku
                                                  - rpa_rps_sku
                                                type: string
                                              time_created:
                                                type: integer
                                            type: object
                                          urls:
                                            properties:
                                              entries:
                                                properties:
                                                  destination_url:
                                                    type: string
                                                  is_apply_specific_affiliates:
                                                    type: boolean
                                                  is_hidden_affiliate:
                                                    type: boolean
                                                  name:
                                                    type: string
                                                  network_affiliate_ids:
                                                    items:
                                                      type: integer
                                                    nullable: true
                                                    type: array
                                                  network_id:
                                                    type: integer
                                                  network_offer_id:
                                                    type: integer
                                                  network_offer_url_id:
                                                    type: integer
                                                  preview_url:
                                                    type: string
                                                  relationship:
                                                    properties:
                                                      remote_offer_resource:
                                                        properties:
                                                          json_config:
                                                            type: string
                                                          json_data:
                                                            type: string
                                                          last_value_md5:
                                                            type: string
                                                          network_id:
                                                            type: integer
                                                          network_offer_id:
                                                            type: integer
                                                          remote_resource_id:
                                                            type: string
                                                          resource_id:
                                                            type: integer
                                                          resource_type:
                                                            type: string
                                                          time_created:
                                                            type: integer
                                                          time_saved:
                                                            type: integer
                                                        type: object
                                                      ruleset:
                                                        properties:
                                                          brands:
                                                            properties:
                                                              brand_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_brand_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          browsers:
                                                            properties:
                                                              browser_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_browser_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          cities:
                                                            properties:
                                                              city_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_city_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          connection_types:
                                                            properties:
                                                              connection_type_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_connection_type_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          countries:
                                                            properties:
                                                              country_code:
                                                                type: string
                                                              country_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_country_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          day_parting_apply_to:
                                                            enum:
                                                              - user_timezone
                                                              - selected_timezone
                                                              - null_value
                                                            type: string
                                                          day_parting_timezone_id:
                                                            type: integer
                                                          days_parting:
                                                            properties:
                                                              day_of_week:
                                                                type: integer
                                                              end_hour:
                                                                type: integer
                                                              end_minute:
                                                                type: integer
                                                              network_id:
                                                                type: integer
                                                              network_targeting_day_parting_id:
                                                                type: integer
                                                              start_hour:
                                                                type: integer
                                                              start_minute:
                                                                type: integer
                                                            type: object
                                                          device_types:
                                                            properties:
                                                              device_type_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_device_type_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          dmas:
                                                            properties:
                                                              dma_code:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_dma_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          ips:
                                                            properties:
                                                              ip_from:
                                                                type: string
                                                              ip_to:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_ip_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          is_block_proxy:
                                                            type: boolean
                                                          is_use_day_parting:
                                                            type: boolean
                                                          isps:
                                                            properties:
                                                              isp_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_isp_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          languages:
                                                            properties:
                                                              browser_language_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_browser_language_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          mobile_carriers:
                                                            properties:
                                                              country_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              mobile_carrier_id:
                                                                type: integer
                                                              network_id:
                                                                type: integer
                                                              network_targeting_mobile_carrier_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          network_id:
                                                            type: integer
                                                          network_ruleset_id:
                                                            type: integer
                                                          os_versions:
                                                            properties:
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_os_version_id:
                                                                type: integer
                                                              os_version_id:
                                                                type: integer
                                                              platform_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          platforms:
                                                            properties:
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_platform_id:
                                                                type: integer
                                                              platform_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          postal_codes:
                                                            properties:
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_postal_code_id:
                                                                type: integer
                                                              postal_code:
                                                                type: string
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          regions:
                                                            properties:
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_region_id:
                                                                type: integer
                                                              region_code:
                                                                type: string
                                                              region_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          time_created:
                                                            type: integer
                                                          time_saved:
                                                            type: integer
                                                        type: object
                                                    type: object
                                                  time_created:
                                                    type: integer
                                                  time_saved:
                                                    type: integer
                                                  url_status:
                                                    enum:
                                                      - active
                                                      - paused
                                                      - deleted
                                                    type: string
                                                type: object
                                              total:
                                                type: integer
                                            type: object
                                          visibility:
                                            properties:
                                              network_affiliate_hidden_ids:
                                                items:
                                                  type: integer
                                                nullable: true
                                                type: array
                                              network_affiliate_rejected_ids:
                                                items:
                                                  type: integer
                                                nullable: true
                                                type: array
                                              network_affiliate_visible_ids:
                                                items:
                                                  type: integer
                                                nullable: true
                                                type: array
                                              network_id:
                                                type: integer
                                              network_offer_id:
                                                type: integer
                                            type: object
                                        type: object
                                      visibility:
                                        enum:
                                          - public
                                          - require_approval
                                          - private
                                        type: string
                                    type: object
                                  total:
                                    type: integer
                                type: object
                              rejected_offers:
                                properties:
                                  entries:
                                    properties:
                                      currency_id:
                                        type: string
                                      name:
                                        type: string
                                      network_advertiser_id:
                                        type: integer
                                      network_id:
                                        type: integer
                                      network_offer_group_id:
                                        type: integer
                                      network_offer_id:
                                        type: integer
                                      network_tracking_domain_id:
                                        type: integer
                                      offer_status:
                                        enum:
                                          - active
                                          - paused
                                          - pending
                                          - deleted
                                        type: string
                                      relationship:
                                        properties:
                                          default_payout_revenue:
                                            properties:
                                              entry_name:
                                                type: string
                                              global_advertiser_event_id:
                                                type: integer
                                              is_allow_duplicate_conversion:
                                                type: boolean
                                              is_default:
                                                type: boolean
                                              is_email_attribution_default_event:
                                                type: boolean
                                              is_enforce_caps:
                                                type: boolean
                                              is_must_approve_conversion:
                                                type: boolean
                                              is_postback_disabled:
                                                type: boolean
                                              is_private:
                                                type: boolean
                                              network_id:
                                                type: integer
                                              network_offer_id:
                                                type: integer
                                              network_offer_payout_revenue_id:
                                                type: integer
                                              payout_amount:
                                                type: number
                                              payout_percentage:
                                                type: number
                                              payout_type:
                                                enum:
                                                  - blank
                                                  - cpc
                                                  - cpa
                                                  - cpm
                                                  - cps
                                                  - cpa_cps
                                                  - prv
                                                  - null_value
                                                  - cpa_sku
                                                  - cps_sku
                                                  - cpa_cps_sku
                                                  - prv_sku
                                                type: string
                                              relationship:
                                                properties:
                                                  remote_offer_resource:
                                                    properties:
                                                      json_config:
                                                        type: string
                                                      json_data:
                                                        type: string
                                                      last_value_md5:
                                                        type: string
                                                      network_id:
                                                        type: integer
                                                      network_offer_id:
                                                        type: integer
                                                      remote_resource_id:
                                                        type: string
                                                      resource_id:
                                                        type: integer
                                                      resource_type:
                                                        type: string
                                                      time_created:
                                                        type: integer
                                                      time_saved:
                                                        type: integer
                                                    type: object
                                                type: object
                                              revenue_amount:
                                                type: number
                                              revenue_percentage:
                                                type: number
                                              revenue_type:
                                                enum:
                                                  - blank
                                                  - rpc
                                                  - rpa
                                                  - rpm
                                                  - rps
                                                  - rpa_rps
                                                  - rpa_sku
                                                  - rps_sku
                                                  - rpa_rps_sku
                                                type: string
                                              time_created:
                                                type: integer
                                            type: object
                                          urls:
                                            properties:
                                              entries:
                                                properties:
                                                  destination_url:
                                                    type: string
                                                  is_apply_specific_affiliates:
                                                    type: boolean
                                                  is_hidden_affiliate:
                                                    type: boolean
                                                  name:
                                                    type: string
                                                  network_affiliate_ids:
                                                    items:
                                                      type: integer
                                                    nullable: true
                                                    type: array
                                                  network_id:
                                                    type: integer
                                                  network_offer_id:
                                                    type: integer
                                                  network_offer_url_id:
                                                    type: integer
                                                  preview_url:
                                                    type: string
                                                  relationship:
                                                    properties:
                                                      remote_offer_resource:
                                                        properties:
                                                          json_config:
                                                            type: string
                                                          json_data:
                                                            type: string
                                                          last_value_md5:
                                                            type: string
                                                          network_id:
                                                            type: integer
                                                          network_offer_id:
                                                            type: integer
                                                          remote_resource_id:
                                                            type: string
                                                          resource_id:
                                                            type: integer
                                                          resource_type:
                                                            type: string
                                                          time_created:
                                                            type: integer
                                                          time_saved:
                                                            type: integer
                                                        type: object
                                                      ruleset:
                                                        properties:
                                                          brands:
                                                            properties:
                                                              brand_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_brand_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          browsers:
                                                            properties:
                                                              browser_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_browser_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          cities:
                                                            properties:
                                                              city_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_city_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          connection_types:
                                                            properties:
                                                              connection_type_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_connection_type_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          countries:
                                                            properties:
                                                              country_code:
                                                                type: string
                                                              country_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_country_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          day_parting_apply_to:
                                                            enum:
                                                              - user_timezone
                                                              - selected_timezone
                                                              - null_value
                                                            type: string
                                                          day_parting_timezone_id:
                                                            type: integer
                                                          days_parting:
                                                            properties:
                                                              day_of_week:
                                                                type: integer
                                                              end_hour:
                                                                type: integer
                                                              end_minute:
                                                                type: integer
                                                              network_id:
                                                                type: integer
                                                              network_targeting_day_parting_id:
                                                                type: integer
                                                              start_hour:
                                                                type: integer
                                                              start_minute:
                                                                type: integer
                                                            type: object
                                                          device_types:
                                                            properties:
                                                              device_type_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_device_type_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          dmas:
                                                            properties:
                                                              dma_code:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_dma_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          ips:
                                                            properties:
                                                              ip_from:
                                                                type: string
                                                              ip_to:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_ip_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          is_block_proxy:
                                                            type: boolean
                                                          is_use_day_parting:
                                                            type: boolean
                                                          isps:
                                                            properties:
                                                              isp_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_isp_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          languages:
                                                            properties:
                                                              browser_language_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_browser_language_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          mobile_carriers:
                                                            properties:
                                                              country_id:
                                                                type: integer
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              mobile_carrier_id:
                                                                type: integer
                                                              network_id:
                                                                type: integer
                                                              network_targeting_mobile_carrier_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          network_id:
                                                            type: integer
                                                          network_ruleset_id:
                                                            type: integer
                                                          os_versions:
                                                            properties:
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_os_version_id:
                                                                type: integer
                                                              os_version_id:
                                                                type: integer
                                                              platform_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          platforms:
                                                            properties:
                                                              label:
                                                                type: string
                                                              match_type:
                                                                enum:
                                                                  - exact
                                                                  - minimum
                                                                  - maximum
                                                                  - contains
                                                                  - starts_with
                                                                  - range
                                                                  - ends_with
                                                                  - blank
                                                                  - does_not_match
                                                                  - does_not_contain
                                                                type: string
                                                              network_id:
                                                                type: integer
                                                              network_targeting_platform_id:
                                                                type: integer
                                                              platform_id:
                                                                type: integer
                                                              targeting_type:
                                                                enum:
                                                                  - include
                                                                  - exclude
                                                                type: string
                                                            type: object
                                                          postal_codes:
                                                            properties:
                                                              label:
                                                                type: string
[...]
