openapi: 3.0.3
info:
  title: Everflow Network API - Utilities
  description: Utility endpoints for managing labels and encoding IDs.
  version: 1.0.0
servers:
  - url: https://api.eflow.team/v1
tags:
  - name: Labels
  - name: Encoding
paths:
  /networks/labels:
    get:
      summary: List Labels
      description: >
        Retrieve all labels for the network. Labels can be applied to offers,
        affiliates, advertisers, campaigns, and offer groups to organize and
        filter resources.
      tags:
        - Labels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                      description: The label name.
                    advertiser_ids:
                      type: array
                      items:
                        type: integer
                      description: Advertiser IDs this label is applied to.
                    affiliate_ids:
                      type: array
                      items:
                        type: integer
                      description: Affiliate IDs this label is applied to.
                    campaign_ids:
                      type: array
                      items:
                        type: integer
                      description: Campaign IDs this label is applied to.
                    offer_ids:
                      type: array
                      items:
                        type: integer
                      description: Offer IDs this label is applied to.
                    offer_group_ids:
                      type: array
                      items:
                        type: integer
                      description: Offer group IDs this label is applied to.
      security:
        - API Key: []
    post:
      summary: Create Label
      description: >
        Create a new label. Labels can be applied to offers, affiliates,
        advertisers, campaigns, and offer groups to organize and filter
        resources.
      tags:
        - Labels
      requestBody:
        required: true
        content:
          application/json:
            example:
              label: "premium"
            schema:
              type: object
              required:
                - label
              properties:
                label:
                  type: string
                  description: The label name to create.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  label:
                    type: string
                    description: The created label name.
      security:
        - API Key: []
  /networks/labels/{labelId}:
    get:
      summary: Get Label
      description: >
        Retrieve a single label by its ID. Returns the label name and
        the IDs of resources it is applied to.
      tags:
        - Labels
      parameters:
        - in: path
          name: labelId
          required: true
          schema:
            type: integer
          description: The unique label ID.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  label:
                    type: string
                    description: The label name.
                  advertiser_ids:
                    type: array
                    items:
                      type: integer
                  affiliate_ids:
                    type: array
                    items:
                      type: integer
                  campaign_ids:
                    type: array
                    items:
                      type: integer
                  offer_ids:
                    type: array
                    items:
                      type: integer
                  offer_group_ids:
                    type: array
                    items:
                      type: integer
        "404":
          description: Label not found.
      security:
        - API Key: []
    put:
      summary: Update Label
      description: >
        Update an existing label. Allows renaming the label while
        preserving its associations with resources.
      tags:
        - Labels
      parameters:
        - in: path
          name: labelId
          required: true
          schema:
            type: integer
          description: The unique label ID to update.
      requestBody:
        required: true
        content:
          application/json:
            example:
              label: "premium-v2"
            schema:
              type: object
              required:
                - label
              properties:
                label:
                  type: string
                  description: The new label name.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  label:
                    type: string
                    description: The updated label name.
        "404":
          description: Label not found.
      security:
        - API Key: []
  /networks/encode:
    post:
      summary: Encode IDs
      description: >
        Encode numeric Everflow IDs into their encoded string representation.
        Useful for constructing tracking links, signup URLs, and other contexts
        where encoded IDs are required instead of raw numeric IDs.
      tags:
        - Encoding
      requestBody:
        required: true
        content:
          application/json:
            example:
              type: "tracking_link_affiliate"
              ids: [1, 2, 3]
            schema:
              type: object
              required:
                - type
                - ids
              properties:
                type:
                  type: string
                  enum:
                    - tracking_link_affiliate
                    - tracking_link_offer
                    - smart_link_affiliate
                    - smart_link_smart_link
                    - signup_affiliate_employee
                    - signup_advertiser_employee
                    - signup_affiliate_affiliate
                  description: >
                    The encoding context. Determines how the IDs are encoded
                    based on their intended use.
                ids:
                  type: array
                  items:
                    type: integer
                  description: The numeric IDs to encode.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  values:
                    type: array
                    items:
                      type: object
                      properties:
                        decoded:
                          type: integer
                          description: The original numeric ID.
                        encoded:
                          type: string
                          description: The encoded string representation.
      security:
        - API Key: []
  /networks/decode:
    post:
      summary: Decode IDs
      description: >
        Decode encoded ID strings back to their original numeric values.
        This is the inverse of the Encode IDs endpoint. Encoded values appear
        in tracking links, smart links, and signup URLs. Values that cannot be
        decoded return 0 for the decoded field.
      tags:
        - Encoding
      requestBody:
        required: true
        content:
          application/json:
            example:
              type: "tracking_link_offer"
              ids: ["2CTPL", "3QQG7", "55M6S"]
            schema:
              type: object
              required:
                - type
                - ids
              properties:
                type:
                  type: string
                  enum:
                    - tracking_link_affiliate
                    - tracking_link_offer
                    - smart_link_affiliate
                    - smart_link_smart_link
                    - signup_affiliate_employee
                    - signup_advertiser_employee
                    - signup_affiliate_affiliate
                  description: >
                    The encoding context. Must match the context used when the IDs
                    were originally encoded.
                ids:
                  type: array
                  items:
                    type: string
                  description: The encoded string values to decode.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  values:
                    type: array
                    items:
                      type: object
                      properties:
                        decoded:
                          type: integer
                          description: The original numeric ID. Returns 0 if the value could not be decoded.
                        encoded:
                          type: string
                          description: The encoded string that was submitted.
      security:
        - API Key: []
components:
  securitySchemes:
    API Key:
      description: The Everflow API key generated from the Control Center > Security.
      in: header
      name: X-Eflow-Api-Key
      type: apiKey
