{"openapi":"3.0.3","info":{"title":"Everflow API","description":"Everflow API","version":"1.0.0"},"servers":[{"url":"https://api.eflow.team/v1","description":"Production Server"}],"paths":{"/networks/reporting/clicks/stream":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string"},"query":{"type":"object","properties":{"exclusions":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","offer_group","affiliate","advertiser","creative","network","account_manager","affiliate_manager","category","billing_frequency","country","region","city","dma","carrier","device_platform","device_type","device_make","browser","s1","s2","s3","s4","s5","event_name","language","connection_type","campaign","source_id","transaction_id","error_code","offer_url","device_model","business_unit","label","sales_manager","account_executive","everflow_account_manager","adv1","adv2","adv3","adv4","adv5","currency","revenue_type","revenue_amount","payout_type","payout_amount","os_version","project_id","isp","offer_status","sub1","sub2","sub3","sub4","sub5","originating_offer","customer_support_manager","channel","coupon_code","affiliate_tier","tracking_domain","network_status","partner_type","country_code","customer_billing_item_type","partner","vertical","client_type","offer_type","advertiser_billing_frequency"],"type":"string"}}},"filters":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","offer_group","affiliate","advertiser","creative","network","account_manager","affiliate_manager","category","billing_frequency","country","region","city","dma","carrier","device_platform","device_type","device_make","browser","s1","s2","s3","s4","s5","event_name","language","connection_type","campaign","source_id","transaction_id","error_code","offer_url","device_model","business_unit","label","sales_manager","account_executive","everflow_account_manager","adv1","adv2","adv3","adv4","adv5","currency","revenue_type","revenue_amount","payout_type","payout_amount","os_version","project_id","isp","offer_status","sub1","sub2","sub3","sub4","sub5","originating_offer","customer_support_manager","channel","coupon_code","affiliate_tier","tracking_domain","network_status","partner_type","country_code","customer_billing_item_type","partner","vertical","client_type","offer_type","advertiser_billing_frequency"],"type":"string"}}},"metric_filters":{"type":"object","properties":{"metric_type":{"enum":["impression","total_click","unique_click","invalid_click","duplicate_click","cv","invalid_cv_scrub","view_through_cv","event","payout","revenue","event_revenue","gross_sales","affiliate_event","affiliate_revenue","media_buying_cost"],"type":"string"},"metric_value":{"type":"number"},"operator":{"enum":["less_than","less_than_or_equal","greater_than","greater_than_or_equal"],"type":"string"}}},"settings":{"type":"object","properties":{"campaign_data_only":{"type":"boolean"},"ignore_fail_traffic":{"type":"boolean"},"only_include_fail_traffic":{"type":"boolean"}}},"user_metrics":{"type":"object","properties":{"metric_aggr_function":{"enum":["sum","avg"],"type":"string"},"metric_type":{"type":"string"}}}}},"timezone_id":{"type":"integer"},"to":{"type":"string"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"clicks":{"type":"object","properties":{"android_id":{"type":"string"},"android_id_md5":{"type":"string"},"android_id_sha1":{"type":"string"},"coupon_code":{"type":"string"},"currency_id":{"type":"string"},"error_code":{"type":"integer"},"error_message":{"type":"string"},"google_ad_id":{"type":"string"},"google_ad_id_md5":{"type":"string"},"google_ad_id_sha1":{"type":"string"},"idfa":{"type":"string"},"idfa_md5":{"type":"string"},"idfa_sha1":{"type":"string"},"is_unique":{"type":"integer"},"referer":{"type":"string"},"relationship":{"type":"object","properties":{"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"http_accept_language":{"type":"string"},"http_user_agent":{"type":"string"},"offer":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"offer_affiliate_status":{"enum":["public","require_approval","pending","approved","rejected"],"type":"string"}}}}},"offer_url":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}}}}}},"revenue":{"type":"number"},"revenue_type":{"type":"string"},"source_id":{"type":"string"},"sub1":{"type":"string"},"sub2":{"type":"string"},"sub3":{"type":"string"},"sub4":{"type":"string"},"sub5":{"type":"string"},"tracking_url":{"type":"string"},"transaction_id":{"type":"string"},"unix_timestamp":{"type":"integer"},"user_ip":{"type":"string"}}}}}}}}},"security":[{"API Key":[]}]}},"/networks/reporting/clicks/{transactionId}":{"get":{"parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"android_id":{"type":"string"},"android_id_md5":{"type":"string"},"android_id_sha1":{"type":"string"},"category_id":{"type":"integer"},"coupon_code":{"type":"string"},"creative_id":{"type":"integer"},"currency_id":{"type":"string"},"custom_landing_page_id":{"type":"integer"},"error_code":{"type":"integer"},"error_filter_id":{"type":"string"},"error_message":{"type":"string"},"google_ad_id":{"type":"string"},"google_ad_id_md5":{"type":"string"},"google_ad_id_sha1":{"type":"string"},"has_conversion":{"type":"boolean"},"idfa":{"type":"string"},"idfa_md5":{"type":"string"},"idfa_sha1":{"type":"string"},"is_async":{"type":"boolean"},"is_pass_through":{"type":"boolean"},"is_sdk_click":{"type":"boolean"},"is_test_mode":{"type":"boolean"},"is_unique":{"type":"integer"},"is_view_through":{"type":"boolean"},"payout":{"type":"number"},"payout_type":{"type":"string"},"previous_network_offer_id":{"type":"integer"},"project_id":{"type":"string"},"redirect_method":{"type":"string"},"referer":{"type":"string"},"relationship":{"type":"object","properties":{"account_manager":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"advertiser":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"whitelist_domains":{"type":"object","properties":{"total":{"type":"integer"},"whitelist_domains":{"type":"object","properties":{"domain":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"whitelist_ips":{"type":"object","properties":{"total":{"type":"integer"},"whitelist_ips":{"type":"object","properties":{"ip":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}}}}}},"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"},"network_traffic_source_id":{"type":"integer"},"relationship":{"type":"object","properties":{"hidden_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}},"rejected_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}},"users":{"type":"object","properties":{"entries":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended"],"type":"string"},"cell_phone":{"type":"string"},"currency_id":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"instant_messaging_id":{"type":"integer"},"instant_messaging_identifier":{"type":"string"},"language_id":{"type":"integer"},"last_name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"affiliate_account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"api":{"type":"object","properties":{"api_key":{"type":"string"},"restricted_ips":{"type":"array","items":{"type":"string"},"nullable":true}}},"audits":{"type":"object","properties":{"entries":{"type":"object","properties":{"auth_type":{"enum":["jwt","api","scheduled_action","everxchange"],"type":"string"},"change_id":{"type":"integer"},"employee_name":{"type":"string"},"network_audit_id":{"type":"integer"},"operation_type":{"enum":["insert","update","patch","delete","access","upsert"],"type":"string"},"portal":{"enum":["network","affiliate","advertiser","admin","partner","agency","unauthenticated"],"type":"string"},"relationship":{"type":"object","properties":{"addition":{"type":"object","properties":{"entries":{"type":"object","properties":{"ancestor_id":{"type":"integer"},"ancestor_type":{"type":"string"},"object_id":{"type":"integer"},"object_name":{"type":"string"},"parent_id":{"type":"integer"},"parent_name":{"type":"string"}}},"total":{"type":"integer"}}},"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"cell_phone":{"type":"string"},"city":{"type":"string"},"country_code":{"type":"string"},"country_id":{"type":"integer"},"currency_id":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"instant_messaging_id":{"type":"integer"},"instant_messaging_identifier":{"type":"string"},"internal_notes":{"type":"string"},"is_admin":{"type":"boolean"},"is_advertiser_manager":{"type":"boolean"},"is_affiliate_manager":{"type":"boolean"},"is_limited_affiliate_scope":{"type":"boolean"},"is_receiving_newsletter":{"type":"boolean"},"is_using_email_notification":{"type":"boolean"},"language_id":{"type":"integer"},"last_name":{"type":"string"},"network_business_unit_id":{"type":"integer"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"network_role_id":{"type":"integer"},"picture_url":{"type":"string"},"region_code":{"type":"string"},"relationship":{"type":"object","properties":{"advertiser_manager_sign_up_link":{"type":"string"},"affiliate_manager_sign_up_link":{"type":"string"},"apikey":{"type":"object","properties":{"api_key":{"type":"string"},"api_key_hash":{"type":"string"},"api_key_name":{"type":"string"},"key_status":{"enum":["active","revoked"],"type":"string"},"last_usage":{"type":"integer"},"modules":{"type":"array","items":{"type":"string"},"nullable":true},"network_api_key_id":{"type":"integer"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"relationship_modules":{"type":"object","properties":{"modules":{"type":"object","properties":{"entries":{"type":"object","properties":{"module":{"type":"string"},"network_module_id":{"type":"integer"}}},"total":{"type":"integer"}}}}},"relationship_resource":{"type":"object","properties":{"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"resource_id":{"type":"integer"},"resource_type":{"enum":["network","affiliate","advertiser"],"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"customization":{"type":"object","properties":{"cards_customization":{"type":"string"},"columns_customization":{"type":"string"},"dashboard_refresh_rate":{"type":"integer"},"network_employee_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"intercom_user_hash":{"type":"string"},"intercom_user_id":{"type":"string"},"is_default_advertiser_manager":{"type":"boolean"},"is_default_affiliate_manager":{"type":"boolean"},"logins":{"type":"object","properties":{"entries":{"type":"object","properties":{"http_origin":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"network_login_id":{"type":"integer"},"relationship":{"type":"object","properties":{"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}}}},"time_created":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}},"mfa":{"type":"object","properties":{"auth_method":{"enum":["google_authenticator","phone"],"type":"string"},"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"is_setup_completed":{"type":"boolean"},"phone_number":{"type":"string"},"time_saved":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"picture_asset":{"type":"object","properties":{"content_type":{"type":"string"},"file_size":{"type":"integer"},"filename":{"type":"string"},"image_height":{"type":"integer"},"image_width":{"type":"integer"},"network_asset_id":{"type":"integer"},"optimized_thumbnail_url":{"type":"string"},"url":{"type":"string"}}},"role":{"type":"object","properties":{"description":{"type":"string"},"network_id":{"type":"integer"},"network_role_id":{"type":"integer"},"relationship":{"type":"object","properties":{"modules":{"type":"object","properties":{"entries":{"type":"object","properties":{"module":{"type":"string"},"network_module_id":{"type":"integer"}}},"total":{"type":"integer"}}}}},"role":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"unit":{"type":"object","properties":{"name":{"type":"string"},"network_business_unit_id":{"type":"integer"},"network_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"timezone_id":{"type":"integer"},"title":{"type":"string"},"work_phone":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"mapping":{"type":"object","properties":{"entries":{"type":"object","properties":{"ancestor_id":{"type":"integer"},"ancestor_type":{"type":"string"},"field_name":{"type":"string"},"new_value":{"type":"string"},"object_id":{"type":"integer"},"object_name":{"type":"string"},"old_value":{"type":"string"},"parent_id":{"type":"integer"},"parent_name":{"type":"string"}}},"total":{"type":"integer"}}},"service":{"type":"string"}}},"time_operation":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}},"customization":{"type":"object","properties":{"columns_customization":{"type":"string"},"dashboard_refresh_rate":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"pins_customization":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"logins":{"type":"object","properties":{"entries":{"type":"object","properties":{"http_origin":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_affiliate_login_id":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}}}},"time_created":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"timezone_id":{"type":"integer"},"title":{"type":"string"},"work_phone":{"type":"string"}}},"total":{"type":"integer"}}},"visible_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}}}}}},"affiliate_manager":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"campaign":{"type":"object","properties":{"campaign_name":{"type":"string"},"campaign_status":{"enum":["active","paused","deleted"],"type":"string"},"network_campaign_id":{"type":"integer"},"network_id":{"type":"integer"}}},"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"forensiq_score":{"type":"string"},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"http_accept_language":{"type":"string"},"http_user_agent":{"type":"string"},"internal_redirect":{"type":"object","properties":{"is_pass_through":{"type":"boolean"},"is_pay_affiliate":{"type":"boolean"},"network_offer_url_id":{"type":"integer"},"previous_offer_id":{"type":"integer"},"previous_transaction_id":{"type":"string"},"redirect_count":{"type":"integer"}}},"offer":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"offer_group":{"type":"object","properties":{"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"offer_count":{"type":"integer"},"offer_group_status":{"enum":["active","paused","deleted"],"type":"string"}}},"previous_transaction_id":{"type":"string"},"previous_transactions":{"type":"object","properties":{"error_code":{"type":"integer"},"error_message":{"type":"string"},"relationship":{"type":"object","properties":{"offer":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"}}}}},"transaction_id":{"type":"string"},"unix_timestamp":{"type":"integer"}}},"redirect_url":{"type":"string"}}},"revenue":{"type":"number"},"revenue_type":{"type":"string"},"server_side_output":{"type":"string"},"server_side_url":{"type":"string"},"source_id":{"type":"string"},"sub1":{"type":"string"},"sub2":{"type":"string"},"sub3":{"type":"string"},"sub4":{"type":"string"},"sub5":{"type":"string"},"tracking_url":{"type":"string"},"transaction_id":{"type":"string"},"unix_timestamp":{"type":"integer"},"url":{"type":"string"},"user_ip":{"type":"string"}}}}}}},"security":[{"API Key":[]}]}},"/networks/reporting/conversions":{"patch":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"conversion_ids":{"type":"array","items":{"type":"string"},"nullable":true},"conversion_status":{"type":"string"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"boolean"}}}}}}},"security":[{"API Key":[]}]},"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"currency_id":{"type":"string"},"from":{"type":"string"},"query":{"type":"object","properties":{"filters":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","offer_group","affiliate","advertiser","offer_creative","transaction_id","campaign","billing_frequency","business_unit","label","category","sub1","sub2","sub3","sub4","sub5","source_id","country","account_manager","affiliate_manager","status","sales_manager","account_executive","offer_url","currency_id","affiliate_tier","adv1","adv2","adv3","adv4","adv5","browser","carrier","city","coupon_code","dma","date","hourly","device_brand","device_type","hour","isp","language","month","os_version","payout_amount","payout_type","platform","project_id","referrer","region","revenue_amount","revenue_type","week","conversion_id","order_id","tracking_domain","offer_payout_revenue_id","country_code","advertiser_billing_frequency","error_code"],"type":"string"}}},"search_terms":{"type":"object","properties":{"search_type":{"enum":["transaction_id","sub_1","sub_2","sub_3","sub_4","sub_5","adv_1","adv_2","adv_3","adv_4","adv_5","source_id","user_ip","user_agent","order_id","country","region","city","status","is_scrub","email","coupon_code","event_name"],"type":"string"},"value":{"type":"string"}}}}},"show_conversions":{"type":"boolean"},"show_events":{"type":"boolean"},"show_only_ct":{"type":"boolean"},"show_only_fail_traffic":{"type":"boolean"},"show_only_scrub":{"type":"boolean"},"show_only_vt":{"type":"boolean"},"timezone_id":{"type":"integer"},"to":{"type":"string"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"conversions":{"type":"object","properties":{"adv1":{"type":"string"},"adv2":{"type":"string"},"adv3":{"type":"string"},"adv4":{"type":"string"},"adv5":{"type":"string"},"android_id":{"type":"string"},"android_id_md5":{"type":"string"},"android_id_sha1":{"type":"string"},"app_id":{"type":"string"},"brand":{"type":"string"},"browser":{"type":"string"},"carrier":{"type":"string"},"city":{"type":"string"},"click_unix_timestamp":{"type":"integer"},"conversion_id":{"type":"string"},"conversion_unix_timestamp":{"type":"integer"},"conversion_user_ip":{"type":"string"},"country":{"type":"string"},"coupon_code":{"type":"string"},"currency_id":{"type":"string"},"device_model":{"type":"string"},"device_type":{"type":"string"},"dma":{"type":"integer"},"email":{"type":"string"},"error_code":{"type":"integer"},"error_message":{"type":"string"},"event":{"type":"string"},"google_ad_id":{"type":"string"},"google_ad_id_md5":{"type":"string"},"google_ad_id_sha1":{"type":"string"},"http_user_agent":{"type":"string"},"idfa":{"type":"string"},"idfa_md5":{"type":"string"},"idfa_sha1":{"type":"string"},"is_event":{"type":"boolean"},"is_scrub":{"type":"boolean"},"is_view_through":{"type":"boolean"},"isp":{"type":"string"},"language":{"type":"string"},"network_offer_payout_revenue_id":{"type":"integer"},"notes":{"type":"string"},"order_id":{"type":"string"},"os_version":{"type":"string"},"payout":{"type":"number"},"payout_type":{"type":"string"},"platform":{"type":"string"},"previous_network_offer_id":{"type":"integer"},"referer":{"type":"string"},"region":{"type":"string"},"relationship":{"type":"object","properties":{"account_manager":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"adv_global_event":{"type":"object","properties":{"advertiser_id":{"type":"integer"},"entry_name":{"type":"string"},"network_advertiser_global_event_id":{"type":"integer"},"network_id":{"type":"integer"}}},"advertiser":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"}}},"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"}}},"affiliate_manager":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"affiliate_tier":{"type":"object","properties":{"name":{"type":"string"},"network_affiliate_tier_id":{"type":"integer"},"network_id":{"type":"integer"},"status":{"enum":["active","paused","deleted"],"type":"string"}}},"attribution_method":{"enum":["cookie","transaction_id","coupon_code","email","fingerprinting","manual_upload","clickless","skad","csv_upload","webhook","integration","user_management"],"type":"string"},"campaign":{"type":"object","properties":{"campaign_name":{"type":"string"},"campaign_status":{"enum":["active","paused","deleted"],"type":"string"},"network_campaign_id":{"type":"integer"},"network_id":{"type":"integer"}}},"candidate_clicks":{"type":"object","properties":{"relationship":{"type":"object","properties":{"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"transaction_id":{"type":"string"},"unix_timestamp":{"type":"integer"}}},"click_attribution_method":{"type":"string"},"conversion_referer":{"type":"string"},"custom_payout_revenue":{"type":"object","properties":{"name":{"type":"string"},"network_custom_payout_revenue_setting_id":{"type":"integer"},"network_id":{"type":"integer"}}},"events_count":{"type":"integer"},"is_enforce_caps":{"type":"boolean"},"line_items_custom_payout_revenue_settings":{"type":"object","properties":{"name":{"type":"string"},"network_custom_payout_revenue_setting_id":{"type":"integer"},"network_id":{"type":"integer"}}},"offer":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"}}},"offer_group":{"type":"object","properties":{"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"offer_count":{"type":"integer"},"offer_group_status":{"enum":["active","paused","deleted"],"type":"string"}}},"offer_url":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"}}},"on_hold_snapshots":{"type":"object","properties":{"initiator":{"enum":["manual","conversion_processing","conversion_update","csv"],"type":"string"},"network_employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"network_id":{"type":"integer"},"on_hold_conversion_history_snapshot_id":{"type":"integer"},"on_hold_conversion_id":{"type":"string"},"snapshot_type":{"enum":["status","payout_revenue"],"type":"string"},"status":{"enum":["on_hold","approved","rejected"],"type":"string"},"unix_timestamp":{"type":"integer"}}},"order_line_items":{"type":"object","properties":{"discount":{"type":"number"},"name":{"type":"string"},"network_order_line_item_id":{"type":"integer"},"order_id":{"type":"integer"},"order_number":{"type":"integer"},"price":{"type":"number"},"product_id":{"type":"integer"},"quantity":{"type":"integer"},"sku":{"type":"string"}}},"postback_control":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_postback_control_id":{"type":"integer"}}},"redirect_url":{"type":"string"},"referer":{"type":"string"},"snapshots":{"type":"object","properties":{"conversion_history_snapshot_id":{"type":"integer"},"conversion_id":{"type":"string"},"error_code":{"type":"integer"},"initiator":{"enum":["manual","csv","bulk_payout_adjustment","twenty_four_metrics","reversal","avow","retroactive_tiered_commission"],"type":"string"},"network_employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"network_id":{"type":"integer"},"payout":{"type":"number"},"revenue":{"type":"number"},"sale_amount":{"type":"number"},"snapshot_type":{"enum":["status","payout_revenue","sale_amount","payout_revenue_and_sale_amount"],"type":"string"},"status":{"enum":["approved","rejected","pending","invalid"],"type":"string"},"unix_timestamp":{"type":"integer"}}},"tiered_commission":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_tiered_commission_id":{"type":"integer"}}},"unix_timestamp_postback":{"type":"integer"},"usm_rule":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_usm_rule_id":{"type":"integer"}}}}},"revenue":{"type":"number"},"revenue_type":{"type":"string"},"sale_amount":{"type":"number"},"session_user_ip":{"type":"string"},"source_id":{"type":"string"},"status":{"enum":["approved","rejected","pending","invalid"],"type":"string"},"sub1":{"type":"string"},"sub2":{"type":"string"},"sub3":{"type":"string"},"sub4":{"type":"string"},"sub5":{"type":"string"},"transaction_id":{"type":"string"},"url":{"type":"string"}}},"paging":{"type":"object","properties":{"page":{"type":"integer"},"page_size":{"type":"integer"},"total_count":{"type":"integer"}}}}}}}}},"security":[{"API Key":[]}]}},"/networks/reporting/conversions/{conversionId}":{"get":{"parameters":[{"name":"conversionId","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"adv1":{"type":"string"},"adv2":{"type":"string"},"adv3":{"type":"string"},"adv4":{"type":"string"},"adv5":{"type":"string"},"android_id":{"type":"string"},"android_id_md5":{"type":"string"},"android_id_sha1":{"type":"string"},"app_id":{"type":"string"},"brand":{"type":"string"},"browser":{"type":"string"},"carrier":{"type":"string"},"city":{"type":"string"},"click_unix_timestamp":{"type":"integer"},"conversion_id":{"type":"string"},"conversion_unix_timestamp":{"type":"integer"},"conversion_user_ip":{"type":"string"},"country":{"type":"string"},"coupon_code":{"type":"string"},"currency_id":{"type":"string"},"device_model":{"type":"string"},"device_type":{"type":"string"},"dma":{"type":"integer"},"email":{"type":"string"},"error_code":{"type":"integer"},"error_message":{"type":"string"},"event":{"type":"string"},"google_ad_id":{"type":"string"},"google_ad_id_md5":{"type":"string"},"google_ad_id_sha1":{"type":"string"},"http_user_agent":{"type":"string"},"idfa":{"type":"string"},"idfa_md5":{"type":"string"},"idfa_sha1":{"type":"string"},"is_event":{"type":"boolean"},"is_scrub":{"type":"boolean"},"is_view_through":{"type":"boolean"},"isp":{"type":"string"},"language":{"type":"string"},"network_offer_payout_revenue_id":{"type":"integer"},"notes":{"type":"string"},"order_id":{"type":"string"},"os_version":{"type":"string"},"payout":{"type":"number"},"payout_type":{"type":"string"},"platform":{"type":"string"},"previous_network_offer_id":{"type":"integer"},"referer":{"type":"string"},"region":{"type":"string"},"relationship":{"type":"object","properties":{"account_manager":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"adv_global_event":{"type":"object","properties":{"advertiser_id":{"type":"integer"},"entry_name":{"type":"string"},"network_advertiser_global_event_id":{"type":"integer"},"network_id":{"type":"integer"}}},"advertiser":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"}}},"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"}}},"affiliate_manager":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"affiliate_tier":{"type":"object","properties":{"name":{"type":"string"},"network_affiliate_tier_id":{"type":"integer"},"network_id":{"type":"integer"},"status":{"enum":["active","paused","deleted"],"type":"string"}}},"attribution_method":{"enum":["cookie","transaction_id","coupon_code","email","fingerprinting","manual_upload","clickless","skad","csv_upload","webhook","integration","user_management"],"type":"string"},"campaign":{"type":"object","properties":{"campaign_name":{"type":"string"},"campaign_status":{"enum":["active","paused","deleted"],"type":"string"},"network_campaign_id":{"type":"integer"},"network_id":{"type":"integer"}}},"candidate_clicks":{"type":"object","properties":{"relationship":{"type":"object","properties":{"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"transaction_id":{"type":"string"},"unix_timestamp":{"type":"integer"}}},"click_attribution_method":{"type":"string"},"conversion_referer":{"type":"string"},"custom_payout_revenue":{"type":"object","properties":{"name":{"type":"string"},"network_custom_payout_revenue_setting_id":{"type":"integer"},"network_id":{"type":"integer"}}},"events_count":{"type":"integer"},"is_enforce_caps":{"type":"boolean"},"line_items_custom_payout_revenue_settings":{"type":"object","properties":{"name":{"type":"string"},"network_custom_payout_revenue_setting_id":{"type":"integer"},"network_id":{"type":"integer"}}},"offer":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"}}},"offer_group":{"type":"object","properties":{"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"offer_count":{"type":"integer"},"offer_group_status":{"enum":["active","paused","deleted"],"type":"string"}}},"offer_url":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"}}},"on_hold_snapshots":{"type":"object","properties":{"initiator":{"enum":["manual","conversion_processing","conversion_update","csv"],"type":"string"},"network_employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"network_id":{"type":"integer"},"on_hold_conversion_history_snapshot_id":{"type":"integer"},"on_hold_conversion_id":{"type":"string"},"snapshot_type":{"enum":["status","payout_revenue"],"type":"string"},"status":{"enum":["on_hold","approved","rejected"],"type":"string"},"unix_timestamp":{"type":"integer"}}},"order_line_items":{"type":"object","properties":{"discount":{"type":"number"},"name":{"type":"string"},"network_order_line_item_id":{"type":"integer"},"order_id":{"type":"integer"},"order_number":{"type":"integer"},"price":{"type":"number"},"product_id":{"type":"integer"},"quantity":{"type":"integer"},"sku":{"type":"string"}}},"postback_control":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_postback_control_id":{"type":"integer"}}},"redirect_url":{"type":"string"},"referer":{"type":"string"},"snapshots":{"type":"object","properties":{"conversion_history_snapshot_id":{"type":"integer"},"conversion_id":{"type":"string"},"error_code":{"type":"integer"},"initiator":{"enum":["manual","csv","bulk_payout_adjustment","twenty_four_metrics","reversal","avow","retroactive_tiered_commission"],"type":"string"},"network_employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}},"network_id":{"type":"integer"},"payout":{"type":"number"},"revenue":{"type":"number"},"sale_amount":{"type":"number"},"snapshot_type":{"enum":["status","payout_revenue","sale_amount","payout_revenue_and_sale_amount"],"type":"string"},"status":{"enum":["approved","rejected","pending","invalid"],"type":"string"},"unix_timestamp":{"type":"integer"}}},"tiered_commission":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_tiered_commission_id":{"type":"integer"}}},"unix_timestamp_postback":{"type":"integer"},"usm_rule":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_usm_rule_id":{"type":"integer"}}}}},"revenue":{"type":"number"},"revenue_type":{"type":"string"},"sale_amount":{"type":"number"},"session_user_ip":{"type":"string"},"source_id":{"type":"string"},"status":{"enum":["approved","rejected","pending","invalid"],"type":"string"},"sub1":{"type":"string"},"sub2":{"type":"string"},"sub3":{"type":"string"},"sub4":{"type":"string"},"sub5":{"type":"string"},"transaction_id":{"type":"string"},"url":{"type":"string"}}}}}}},"security":[{"API Key":[]}]}},"/networks/reporting/entity/table":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"columns":{"type":"object","properties":{"column":{"enum":["unix_timestamp","offer","offer_group","affiliate","advertiser","creative","category","affiliate_manager","account_manager","country","carrier","platform","os_version","device_type","browser","device_make","language","sub1","sub2","sub3","sub4","sub5","event_name","network","region","city","dma","connection_type","campaign","source_id","hour","date","week","month","year","offer_url","device_model","project_id","referer","offer_id","offer_group_id","affiliate_id","advertiser_id","campaign_id","creative_id","payout_type","payout_amount","revenue_type","revenue_amount","currency","sales_manager","account_executive","derived_affiliate_manager","derived_account_manager","derived_sales_manager","derived_project_id","derived_account_executive","isp","adv1","adv2","adv3","adv4","adv5","offer_status","hourly","originating_offer","customer_support_manager","admin_account_manager","is_proxy","affiliate_status","coupon_code","advertiser_campaign_name","app_identifier","bundle_id","meta_platform","score_rating","total_rating","size","developer","version","advertiser_event_name","tracking_domain","postal_code","order_id","attribution_method","custom_payout_revenue","custom_payout_revenue_id","country_code","day_of_week","transaction_id","derived_referred_by"],"type":"string"}}},"currency_id":{"type":"string"},"from":{"type":"string"},"query":{"type":"object","properties":{"exclusions":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","offer_group","affiliate","advertiser","creative","network","account_manager","affiliate_manager","category","billing_frequency","country","region","city","dma","carrier","device_platform","device_type","device_make","browser","s1","s2","s3","s4","s5","event_name","language","connection_type","campaign","source_id","transaction_id","error_code","offer_url","device_model","business_unit","label","sales_manager","account_executive","everflow_account_manager","adv1","adv2","adv3","adv4","adv5","currency","revenue_type","revenue_amount","payout_type","payout_amount","os_version","project_id","isp","offer_status","sub1","sub2","sub3","sub4","sub5","originating_offer","customer_support_manager","channel","coupon_code","affiliate_tier","tracking_domain","network_status","partner_type","country_code","customer_billing_item_type","partner","vertical","client_type","offer_type","advertiser_billing_frequency"],"type":"string"}}},"filters":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","offer_group","affiliate","advertiser","creative","network","account_manager","affiliate_manager","category","billing_frequency","country","region","city","dma","carrier","device_platform","device_type","device_make","browser","s1","s2","s3","s4","s5","event_name","language","connection_type","campaign","source_id","transaction_id","error_code","offer_url","device_model","business_unit","label","sales_manager","account_executive","everflow_account_manager","adv1","adv2","adv3","adv4","adv5","currency","revenue_type","revenue_amount","payout_type","payout_amount","os_version","project_id","isp","offer_status","sub1","sub2","sub3","sub4","sub5","originating_offer","customer_support_manager","channel","coupon_code","affiliate_tier","tracking_domain","network_status","partner_type","country_code","customer_billing_item_type","partner","vertical","client_type","offer_type","advertiser_billing_frequency"],"type":"string"}}},"metric_filters":{"type":"object","properties":{"metric_type":{"enum":["impression","total_click","unique_click","invalid_click","duplicate_click","cv","invalid_cv_scrub","view_through_cv","event","payout","revenue","event_revenue","gross_sales","affiliate_event","affiliate_revenue","media_buying_cost"],"type":"string"},"metric_value":{"type":"number"},"operator":{"enum":["less_than","less_than_or_equal","greater_than","greater_than_or_equal"],"type":"string"}}},"settings":{"type":"object","properties":{"campaign_data_only":{"type":"boolean"},"ignore_fail_traffic":{"type":"boolean"},"only_include_fail_traffic":{"type":"boolean"}}},"user_metrics":{"type":"object","properties":{"metric_aggr_function":{"enum":["sum","avg"],"type":"string"},"metric_type":{"type":"string"}}}}},"timezone_id":{"type":"integer"},"to":{"type":"string"},"usm_columns":{"type":"array","items":{"type":"string"},"nullable":true}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"table":{"type":"object","properties":{"columns":{"type":"object","properties":{"column_type":{"enum":["unix_timestamp","offer","offer_group","affiliate","advertiser","creative","category","affiliate_manager","account_manager","account_executive","country","region","city","dma","carrier","platform","os_version","device_type","browser","device_make","language","sub1","sub2","sub3","sub4","sub5","event_name","network","currency","connection_type","campaign","source_id","hour","date","week","month","year","offer_url","device_model","project_id","referer","offer_id","offer_group_id","affiliate_id","advertiser_id","campaign_id","creative_id","payout_type","payout_amount","revenue_type","revenue_amount","sales_manager","derived_affiliate_manager","derived_account_manager","derived_sales_manager","derived_account_executive","derived_project_id","original_currency_payout","original_currency_revenue","original_currency_event_revenue","original_currency_gross_sales","isp","adv1","adv2","adv3","adv4","adv5","offer_status","event_id","hourly","previous_network_offer_id","originating_offer","customer_support_manager","admin_account_manager","is_proxy","affiliate_status","coupon_code","advertiser_campaign_name","app_identifier","bundle_id","meta_platform","score_rating","total_rating","size","developer","version","advertiser_event_name","tracking_domain","order_id","attribution_method","custom_payout_revenue","custom_payout_revenue_id","country_code","day_of_week","transaction_id","postal_code","derived_referred_by","demand_partner","supplying_partner","supply_partner","preferred_partner"],"type":"string"},"id":{"type":"string"},"label":{"type":"string"}}},"custom_metric_columns":{"type":"object","properties":{"column_type":{"type":"string"},"label":{"type":"string"},"network_reporting_custom_metric_id":{"type":"integer"}}},"reporting":{"type":"object","properties":{"avg_sale_value":{"type":"number"},"cpa":{"type":"number"},"cpc":{"type":"number"},"cpm":{"type":"number"},"ctr":{"type":"number"},"cv":{"type":"integer"},"cvr":{"type":"number"},"duplicate_click":{"type":"integer"},"epc":{"type":"number"},"event":{"type":"integer"},"event_revenue":{"type":"number"},"evr":{"type":"number"},"gross_click":{"type":"integer"},"gross_sales":{"type":"number"},"imp":{"type":"integer"},"invalid_click":{"type":"integer"},"invalid_cv_scrub":{"type":"integer"},"margin":{"type":"number"},"media_buying_cost":{"type":"number"},"on_hold_conversion_count":{"type":"integer"},"on_hold_potential_payout":{"type":"number"},"on_hold_potential_revenue":{"type":"number"},"payout":{"type":"number"},"profit":{"type":"number"},"revenue":{"type":"number"},"roas":{"type":"number"},"rpa":{"type":"number"},"rpc":{"type":"number"},"rpm":{"type":"number"},"total_click":{"type":"integer"},"total_cv":{"type":"integer"},"unique_click":{"type":"integer"},"view_through_cv":{"type":"integer"}}},"usm_columns":{"type":"object","properties":{"column_type":{"type":"string"},"label":{"type":"string"}}}}}}}}}}},"security":[{"API Key":[]}]}}},"components":{"securitySch
[...]
