{"openapi":"3.0.3","info":{"title":"Everflow API","description":"Everflow API","version":"1.0.0"},"servers":[{"url":"https://api.eflow.team/v1","description":"Production Server"}],"paths":{"/networks/reporting/advertiser/pixels/bq":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string"},"query":{"type":"object","properties":{"filters":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","affiliate","advertiser"],"type":"string"}}},"search_terms":{"type":"object","properties":{"search_type":{"enum":["transaction_id","conversion_id","pixel_url"],"type":"string"},"value":{"type":"string"}}}}},"timezone_id":{"type":"integer"},"to":{"type":"string"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"pixels":{"type":"object","properties":{"advertiser_pixel_log_id":{"type":"integer"},"conversion_id":{"type":"string"},"conversion_method":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"pixel_ip":{"type":"string"},"pixel_url":{"type":"string"},"referer":{"type":"string"},"relationship":{"type":"object","properties":{"adv1":{"type":"string"},"adv2":{"type":"string"},"adv3":{"type":"string"},"adv4":{"type":"string"},"adv5":{"type":"string"},"advertiser":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"}}},"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"}}},"conversion_status":{"enum":["approved","rejected","pending","invalid"],"type":"string"},"currency_id":{"type":"string"},"is_on_hold":{"type":"boolean"},"offer":{"type":"object","properties":{"name":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"}}},"payout":{"type":"number"},"revenue":{"type":"number"}}},"transaction_id":{"type":"string"},"unix_timestamp":{"type":"integer"}}}}}}}}},"security":[{"API Key":[]}]}},"/networks/reporting/affiliate/pixels":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string"},"query":{"type":"object","properties":{"filters":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","affiliate","delivery_status"],"type":"string"}}},"search_terms":{"type":"object","properties":{"search_type":{"enum":["conversion_id","payload","transaction_id","pixel_id"],"type":"string"},"value":{"type":"string"}}}}},"timezone_id":{"type":"integer"},"to":{"type":"string"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"pixels":{"type":"object","properties":{"affiliate_id":{"type":"integer"},"conversion_id":{"type":"string"},"debug_information":{"type":"string"},"delivery_method":{"enum":["html","postback","facebook","tiktok","snapchat"],"type":"string"},"failed_attempts":{"type":"integer"},"is_success":{"type":"boolean"},"last_attempt":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payload":{"type":"string"},"pixel_id":{"type":"integer"},"pixel_level":{"enum":["global","specific","global_offer"],"type":"string"},"pixel_status":{"enum":["active","inactive"],"type":"string"},"pixel_type":{"enum":["conversion","post_conversion","cpc"],"type":"string"},"relationship":{"type":"object","properties":{"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"},"network_traffic_source_id":{"type":"integer"},"relationship":{"type":"object","properties":{"hidden_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}},"rejected_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}},"users":{"type":"object","properties":{"entries":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended"],"type":"string"},"cell_phone":{"type":"string"},"currency_id":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"instant_messaging_id":{"type":"integer"},"instant_messaging_identifier":{"type":"string"},"language_id":{"type":"integer"},"last_name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"affiliate_account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"api":{"type":"object","properties":{"api_key":{"type":"string"},"restricted_ips":{"type":"array","items":{"type":"string"},"nullable":true}}},"audits":{"type":"object","properties":{"entries":{"type":"object","properties":{"auth_type":{"enum":["jwt","api","scheduled_action","everxchange"],"type":"string"},"change_id":{"type":"integer"},"employee_name":{"type":"string"},"network_audit_id":{"type":"integer"},"operation_type":{"enum":["insert","update","patch","delete","access","upsert"],"type":"string"},"portal":{"enum":["network","affiliate","advertiser","admin","partner","agency","unauthenticated"],"type":"string"},"relationship":{"type":"object","properties":{"addition":{"type":"object","properties":{"entries":{"type":"object","properties":{"ancestor_id":{"type":"integer"},"ancestor_type":{"type":"string"},"object_id":{"type":"integer"},"object_name":{"type":"string"},"parent_id":{"type":"integer"},"parent_name":{"type":"string"}}},"total":{"type":"integer"}}},"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"cell_phone":{"type":"string"},"city":{"type":"string"},"country_code":{"type":"string"},"country_id":{"type":"integer"},"currency_id":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"instant_messaging_id":{"type":"integer"},"instant_messaging_identifier":{"type":"string"},"internal_notes":{"type":"string"},"is_admin":{"type":"boolean"},"is_advertiser_manager":{"type":"boolean"},"is_affiliate_manager":{"type":"boolean"},"is_limited_affiliate_scope":{"type":"boolean"},"is_receiving_newsletter":{"type":"boolean"},"is_using_email_notification":{"type":"boolean"},"language_id":{"type":"integer"},"last_name":{"type":"string"},"network_business_unit_id":{"type":"integer"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"network_role_id":{"type":"integer"},"picture_url":{"type":"string"},"region_code":{"type":"string"},"relationship":{"type":"object","properties":{"advertiser_manager_sign_up_link":{"type":"string"},"affiliate_manager_sign_up_link":{"type":"string"},"apikey":{"type":"object","properties":{"api_key":{"type":"string"},"api_key_hash":{"type":"string"},"api_key_name":{"type":"string"},"key_status":{"enum":["active","revoked"],"type":"string"},"last_usage":{"type":"integer"},"modules":{"type":"array","items":{"type":"string"},"nullable":true},"network_api_key_id":{"type":"integer"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"relationship_modules":{"type":"object","properties":{"modules":{"type":"object","properties":{"entries":{"type":"object","properties":{"module":{"type":"string"},"network_module_id":{"type":"integer"}}},"total":{"type":"integer"}}}}},"relationship_resource":{"type":"object","properties":{"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"resource_id":{"type":"integer"},"resource_type":{"enum":["network","affiliate","advertiser"],"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"customization":{"type":"object","properties":{"cards_customization":{"type":"string"},"columns_customization":{"type":"string"},"dashboard_refresh_rate":{"type":"integer"},"network_employee_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"intercom_user_hash":{"type":"string"},"intercom_user_id":{"type":"string"},"is_default_advertiser_manager":{"type":"boolean"},"is_default_affiliate_manager":{"type":"boolean"},"logins":{"type":"object","properties":{"entries":{"type":"object","properties":{"http_origin":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"network_login_id":{"type":"integer"},"relationship":{"type":"object","properties":{"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}}}},"time_created":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}},"mfa":{"type":"object","properties":{"auth_method":{"enum":["google_authenticator","phone"],"type":"string"},"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"is_setup_completed":{"type":"boolean"},"phone_number":{"type":"string"},"time_saved":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"picture_asset":{"type":"object","properties":{"content_type":{"type":"string"},"file_size":{"type":"integer"},"filename":{"type":"string"},"image_height":{"type":"integer"},"image_width":{"type":"integer"},"network_asset_id":{"type":"integer"},"optimized_thumbnail_url":{"type":"string"},"url":{"type":"string"}}},"role":{"type":"object","properties":{"description":{"type":"string"},"network_id":{"type":"integer"},"network_role_id":{"type":"integer"},"relationship":{"type":"object","properties":{"modules":{"type":"object","properties":{"entries":{"type":"object","properties":{"module":{"type":"string"},"network_module_id":{"type":"integer"}}},"total":{"type":"integer"}}}}},"role":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"unit":{"type":"object","properties":{"name":{"type":"string"},"network_business_unit_id":{"type":"integer"},"network_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"timezone_id":{"type":"integer"},"title":{"type":"string"},"work_phone":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"mapping":{"type":"object","properties":{"entries":{"type":"object","properties":{"ancestor_id":{"type":"integer"},"ancestor_type":{"type":"string"},"field_name":{"type":"string"},"new_value":{"type":"string"},"object_id":{"type":"integer"},"object_name":{"type":"string"},"old_value":{"type":"string"},"parent_id":{"type":"integer"},"parent_name":{"type":"string"}}},"total":{"type":"integer"}}},"service":{"type":"string"}}},"time_operation":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}},"customization":{"type":"object","properties":{"columns_customization":{"type":"string"},"dashboard_refresh_rate":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"pins_customization":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"logins":{"type":"object","properties":{"entries":{"type":"object","properties":{"http_origin":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_affiliate_login_id":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}}}},"time_created":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"timezone_id":{"type":"integer"},"title":{"type":"string"},"work_phone":{"type":"string"}}},"total":{"type":"integer"}}},"visible_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}}}}}},"campaign":{"type":"object","properties":{"campaign_name":{"type":"string"},"campaign_status":{"enum":["active","paused","deleted"],"type":"string"},"network_campaign_id":{"type":"integer"},"network_id":{"type":"integer"}}},"offer":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"offer_group":{"type":"object","properties":{"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"offer_count":{"type":"integer"},"offer_group_status":{"enum":["active","paused","deleted"],"type":"string"}}},"payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}}}},"timestamp":{"type":"integer"},"transaction_id":{"type":"string"}}}}}}}}},"security":[{"API Key":[]}]}},"/networks/reporting/affiliate/pixels/bq":{"post":{"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string"},"query":{"type":"object","properties":{"filters":{"type":"object","properties":{"filter_id_value":{"type":"string"},"resource_type":{"enum":["offer","affiliate","delivery_status"],"type":"string"}}},"search_terms":{"type":"object","properties":{"search_type":{"enum":["conversion_id","payload","transaction_id","pixel_id"],"type":"string"},"value":{"type":"string"}}}}},"timezone_id":{"type":"integer"},"to":{"type":"string"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"pixels":{"type":"object","properties":{"affiliate_id":{"type":"integer"},"conversion_id":{"type":"string"},"debug_information":{"type":"string"},"delivery_method":{"enum":["html","postback","facebook","tiktok","snapchat"],"type":"string"},"failed_attempts":{"type":"integer"},"is_success":{"type":"boolean"},"last_attempt":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payload":{"type":"string"},"pixel_id":{"type":"integer"},"pixel_level":{"enum":["global","specific","global_offer"],"type":"string"},"pixel_status":{"enum":["active","inactive"],"type":"string"},"pixel_type":{"enum":["conversion","post_conversion","cpc"],"type":"string"},"relationship":{"type":"object","properties":{"affiliate":{"type":"object","properties":{"account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_id":{"type":"integer"},"network_traffic_source_id":{"type":"integer"},"relationship":{"type":"object","properties":{"hidden_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}},"rejected_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_day_parting_id":{"type":"integer"},"start_hour":{"type":"integer"},"start_minute":{"type":"integer"}}},"device_types":{"type":"object","properties":{"device_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_device_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"dmas":{"type":"object","properties":{"dma_code":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_dma_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"ips":{"type":"object","properties":{"ip_from":{"type":"string"},"ip_to":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_ip_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"is_block_proxy":{"type":"boolean"},"is_use_day_parting":{"type":"boolean"},"isps":{"type":"object","properties":{"isp_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_isp_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"languages":{"type":"object","properties":{"browser_language_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_language_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"mobile_carriers":{"type":"object","properties":{"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"mobile_carrier_id":{"type":"integer"},"network_id":{"type":"integer"},"network_targeting_mobile_carrier_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"network_id":{"type":"integer"},"network_ruleset_id":{"type":"integer"},"os_versions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_os_version_id":{"type":"integer"},"os_version_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"platforms":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_platform_id":{"type":"integer"},"platform_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"postal_codes":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_postal_code_id":{"type":"integer"},"postal_code":{"type":"string"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"regions":{"type":"object","properties":{"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_region_id":{"type":"integer"},"region_code":{"type":"string"},"region_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"url_status":{"enum":["active","paused","deleted"],"type":"string"}}},"total":{"type":"integer"}}},"visibility":{"type":"object","properties":{"network_affiliate_hidden_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_rejected_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_affiliate_visible_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"}}}}},"visibility":{"enum":["public","require_approval","private"],"type":"string"}}},"total":{"type":"integer"}}},"users":{"type":"object","properties":{"entries":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended"],"type":"string"},"cell_phone":{"type":"string"},"currency_id":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"instant_messaging_id":{"type":"integer"},"instant_messaging_identifier":{"type":"string"},"language_id":{"type":"integer"},"last_name":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"affiliate_account_status":{"enum":["active","inactive","pending","suspended"],"type":"string"},"api":{"type":"object","properties":{"api_key":{"type":"string"},"restricted_ips":{"type":"array","items":{"type":"string"},"nullable":true}}},"audits":{"type":"object","properties":{"entries":{"type":"object","properties":{"auth_type":{"enum":["jwt","api","scheduled_action","everxchange"],"type":"string"},"change_id":{"type":"integer"},"employee_name":{"type":"string"},"network_audit_id":{"type":"integer"},"operation_type":{"enum":["insert","update","patch","delete","access","upsert"],"type":"string"},"portal":{"enum":["network","affiliate","advertiser","admin","partner","agency","unauthenticated"],"type":"string"},"relationship":{"type":"object","properties":{"addition":{"type":"object","properties":{"entries":{"type":"object","properties":{"ancestor_id":{"type":"integer"},"ancestor_type":{"type":"string"},"object_id":{"type":"integer"},"object_name":{"type":"string"},"parent_id":{"type":"integer"},"parent_name":{"type":"string"}}},"total":{"type":"integer"}}},"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"cell_phone":{"type":"string"},"city":{"type":"string"},"country_code":{"type":"string"},"country_id":{"type":"integer"},"currency_id":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"instant_messaging_id":{"type":"integer"},"instant_messaging_identifier":{"type":"string"},"internal_notes":{"type":"string"},"is_admin":{"type":"boolean"},"is_advertiser_manager":{"type":"boolean"},"is_affiliate_manager":{"type":"boolean"},"is_limited_affiliate_scope":{"type":"boolean"},"is_receiving_newsletter":{"type":"boolean"},"is_using_email_notification":{"type":"boolean"},"language_id":{"type":"integer"},"last_name":{"type":"string"},"network_business_unit_id":{"type":"integer"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"network_role_id":{"type":"integer"},"picture_url":{"type":"string"},"region_code":{"type":"string"},"relationship":{"type":"object","properties":{"advertiser_manager_sign_up_link":{"type":"string"},"affiliate_manager_sign_up_link":{"type":"string"},"apikey":{"type":"object","properties":{"api_key":{"type":"string"},"api_key_hash":{"type":"string"},"api_key_name":{"type":"string"},"key_status":{"enum":["active","revoked"],"type":"string"},"last_usage":{"type":"integer"},"modules":{"type":"array","items":{"type":"string"},"nullable":true},"network_api_key_id":{"type":"integer"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"relationship_modules":{"type":"object","properties":{"modules":{"type":"object","properties":{"entries":{"type":"object","properties":{"module":{"type":"string"},"network_module_id":{"type":"integer"}}},"total":{"type":"integer"}}}}},"relationship_resource":{"type":"object","properties":{"employee":{"type":"object","properties":{"account_status":{"enum":["active","inactive","suspended","pending"],"type":"string"},"first_name":{"type":"string"},"full_name":{"type":"string"},"last_name":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"}}}}},"resource_id":{"type":"integer"},"resource_type":{"enum":["network","affiliate","advertiser"],"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"customization":{"type":"object","properties":{"cards_customization":{"type":"string"},"columns_customization":{"type":"string"},"dashboard_refresh_rate":{"type":"integer"},"network_employee_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"intercom_user_hash":{"type":"string"},"intercom_user_id":{"type":"string"},"is_default_advertiser_manager":{"type":"boolean"},"is_default_affiliate_manager":{"type":"boolean"},"logins":{"type":"object","properties":{"entries":{"type":"object","properties":{"http_origin":{"type":"string"},"network_employee_id":{"type":"integer"},"network_id":{"type":"integer"},"network_login_id":{"type":"integer"},"relationship":{"type":"object","properties":{"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}}}},"time_created":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}},"mfa":{"type":"object","properties":{"auth_method":{"enum":["google_authenticator","phone"],"type":"string"},"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"is_setup_completed":{"type":"boolean"},"phone_number":{"type":"string"},"time_saved":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"picture_asset":{"type":"object","properties":{"content_type":{"type":"string"},"file_size":{"type":"integer"},"filename":{"type":"string"},"image_height":{"type":"integer"},"image_width":{"type":"integer"},"network_asset_id":{"type":"integer"},"optimized_thumbnail_url":{"type":"string"},"url":{"type":"string"}}},"role":{"type":"object","properties":{"description":{"type":"string"},"network_id":{"type":"integer"},"network_role_id":{"type":"integer"},"relationship":{"type":"object","properties":{"modules":{"type":"object","properties":{"entries":{"type":"object","properties":{"module":{"type":"string"},"network_module_id":{"type":"integer"}}},"total":{"type":"integer"}}}}},"role":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"unit":{"type":"object","properties":{"name":{"type":"string"},"network_business_unit_id":{"type":"integer"},"network_id":{"type":"integer"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"timezone_id":{"type":"integer"},"title":{"type":"string"},"work_phone":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}},"mapping":{"type":"object","properties":{"entries":{"type":"object","properties":{"ancestor_id":{"type":"integer"},"ancestor_type":{"type":"string"},"field_name":{"type":"string"},"new_value":{"type":"string"},"object_id":{"type":"integer"},"object_name":{"type":"string"},"old_value":{"type":"string"},"parent_id":{"type":"integer"},"parent_name":{"type":"string"}}},"total":{"type":"integer"}}},"service":{"type":"string"}}},"time_operation":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}},"customization":{"type":"object","properties":{"columns_customization":{"type":"string"},"dashboard_refresh_rate":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"pins_customization":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"logins":{"type":"object","properties":{"entries":{"type":"object","properties":{"http_origin":{"type":"string"},"network_affiliate_id":{"type":"integer"},"network_affiliate_login_id":{"type":"integer"},"network_affiliate_user_id":{"type":"integer"},"network_id":{"type":"integer"},"relationship":{"type":"object","properties":{"device_information":{"type":"object","properties":{"brand":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"},"device_type":{"type":"string"},"http_accept_language":{"type":"string"},"is_filter":{"type":"boolean"},"is_mobile":{"type":"boolean"},"is_robot":{"type":"boolean"},"is_tablet":{"type":"boolean"},"language":{"type":"string"},"model":{"type":"string"},"os_version":{"type":"string"},"platform_name":{"type":"string"}}},"geolocation":{"type":"object","properties":{"carrier_code":{"type":"integer"},"carrier_name":{"type":"string"},"city_name":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma":{"type":"integer"},"dma_name":{"type":"string"},"is_mobile":{"type":"boolean"},"is_proxy":{"type":"boolean"},"isp_name":{"type":"string"},"organization":{"type":"string"},"postal_code":{"type":"string"},"region_code":{"type":"string"},"region_name":{"type":"string"},"timezone":{"type":"string"}}}}},"time_created":{"type":"integer"},"user_agent":{"type":"string"},"user_ip":{"type":"string"}}},"total":{"type":"integer"}}}}},"time_created":{"type":"integer"},"time_saved":{"type":"integer"},"timezone_id":{"type":"integer"},"title":{"type":"string"},"work_phone":{"type":"string"}}},"total":{"type":"integer"}}},"visible_offers":{"type":"object","properties":{"entries":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"string"},"network_advertiser_id":{"type":"integer"},"network_id":{"type":"integer"},"network_offer_group_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_tracking_domain_id":{"type":"integer"},"offer_status":{"enum":["active","paused","pending","deleted"],"type":"string"},"relationship":{"type":"object","properties":{"default_payout_revenue":{"type":"object","properties":{"entry_name":{"type":"string"},"global_advertiser_event_id":{"type":"integer"},"is_allow_duplicate_conversion":{"type":"boolean"},"is_default":{"type":"boolean"},"is_email_attribution_default_event":{"type":"boolean"},"is_enforce_caps":{"type":"boolean"},"is_must_approve_conversion":{"type":"boolean"},"is_postback_disabled":{"type":"boolean"},"is_private":{"type":"boolean"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_payout_revenue_id":{"type":"integer"},"payout_amount":{"type":"number"},"payout_percentage":{"type":"number"},"payout_type":{"enum":["blank","cpc","cpa","cpm","cps","cpa_cps","prv","null_value","cpa_sku","cps_sku","cpa_cps_sku","prv_sku"],"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}}}},"revenue_amount":{"type":"number"},"revenue_percentage":{"type":"number"},"revenue_type":{"enum":["blank","rpc","rpa","rpm","rps","rpa_rps","rpa_sku","rps_sku","rpa_rps_sku"],"type":"string"},"time_created":{"type":"integer"}}},"urls":{"type":"object","properties":{"entries":{"type":"object","properties":{"destination_url":{"type":"string"},"is_apply_specific_affiliates":{"type":"boolean"},"is_hidden_affiliate":{"type":"boolean"},"name":{"type":"string"},"network_affiliate_ids":{"type":"array","items":{"type":"integer"},"nullable":true},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"network_offer_url_id":{"type":"integer"},"preview_url":{"type":"string"},"relationship":{"type":"object","properties":{"remote_offer_resource":{"type":"object","properties":{"json_config":{"type":"string"},"json_data":{"type":"string"},"last_value_md5":{"type":"string"},"network_id":{"type":"integer"},"network_offer_id":{"type":"integer"},"remote_resource_id":{"type":"string"},"resource_id":{"type":"integer"},"resource_type":{"type":"string"},"time_created":{"type":"integer"},"time_saved":{"type":"integer"}}},"ruleset":{"type":"object","properties":{"brands":{"type":"object","properties":{"brand_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_brand_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"browsers":{"type":"object","properties":{"browser_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_browser_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"cities":{"type":"object","properties":{"city_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_city_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"connection_types":{"type":"object","properties":{"connection_type_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_connection_type_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"countries":{"type":"object","properties":{"country_code":{"type":"string"},"country_id":{"type":"integer"},"label":{"type":"string"},"match_type":{"enum":["exact","minimum","maximum","contains","starts_with","range","ends_with","blank","does_not_match","does_not_contain"],"type":"string"},"network_id":{"type":"integer"},"network_targeting_country_id":{"type":"integer"},"targeting_type":{"enum":["include","exclude"],"type":"string"}}},"day_parting_apply_to":{"enum":["user_timezone","selected_timezone","null_value"],"type":"string"},"day_parting_timezone_id":{"type":"integer"},"days_parting":{"type":"object","properties":{"day_of_week":{"type":"integer"},"end_hour":{"type":"integer"},"end_minute":{"type":"integer"},"network_id":{"type":"integer"}
[...]
